<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Puzzle Duel</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><span class="glyphicon glyphicon-home"></span> <%= __('Home') %></a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-calendar"></span> <%= __('Archive') %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link" href="/archive/types"><%= __('Puzzles by type') %></a></li>
            <li><a class="nav-link" href="/archive/daily"><%= __('Daily puzzles') %></a></li>
            <li><a class="nav-link" href="/archive/best"><%= __('Best puzzles') %></a></li>
            <% if (user && user.isTester) { %>
            <li><a class="nav-link" href="/archive/tester"><%= __('Puzzles to test') %></a></li>
            <% } %>
            <li class="dropdown-divider"></li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Puzzle XL') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/40645r1kb6ih7hk"><%= __('Puzzle XL 2020') %></a></li>
                <li><a class="nav-link" href="/contest/40644y1kpokjatr"><%= __('Puzzle XL 2021') %></a></li>
                <li><a class="nav-link" href="/contest/bjhute1kiujaiue"><%= __('Puzzle XL 2022') %></a></li>
                <li><a class="nav-link" href="/contest/ythutoiuiujaqwe"><%= __('Puzzle XL 2023') %></a></li>
                <li><a class="nav-link" href="/contest/ufgkjdkhganvswq"><%= __('Puzzle XL 2024') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('dOubLESHOW') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/4064581kgp183b9"><%= __('dOubLESHOW') %></a></li>
                <li><a class="nav-link" href="/contest/40644z1kkchbyx9"><%= __('dOubLESHOW 2') %></a></li>
                <li><a class="nav-link" href="/contest/5177acdef9fty"><%= __('dOubLESHOW 3') %></a></li>
                <li><a class="nav-link" href="/contest/40644y1kupynynq"><%= __('dOubLESHOW 2x2') %></a></li>
                <li><a class="nav-link" href="/contest/ef0ey1kyqecvq1"><%= __('dOubLESHOW') %> <span class="flipV">2</span></a></li>
                <li><a class="nav-link" href="/contest/yu6541kuy82cvs"><%= __('dOubLESHOW 6') %></a></li>
                <li><a class="nav-link" href="/contest/40645e1lawglwtl"><%= __('dOubLESHOW 7') %></a></li>
                <li><a class="nav-link" href="/contest/4064531lfohn6q2"><%= __('dOubLESHOW 2x2x2') %></a></li>
                <li><a class="nav-link" href="/contest/yeurw8yqash"><%= __('dOubLESHOW 3') %><sup>2</sup></a></li>
                <li><a class="nav-link" href="/contest/iuywcxpqnpi"><%= __('dOubLESHOW 10') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Month-long marathons') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/ttautpiaiuianto"><%= __('Tap into Tapa') %></a></li>
                <li><a class="nav-link" href="/contest/4064531lnk3us0f"><%= __('Skyline Magic') %></a></li>
                <li><a class="nav-link" href="/contest/4074511lr3t8mqt"><%= __('Slitherlink Expedition') %></a></li>
                <li><a class="nav-link" href="/contest/4064511lv3oxena"><%= __('Tetromino Canvas Clash') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Other contests') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/duel/40645v1knnk0dug"><%= __('Anniversary duel') %></a></li>
                <li><a class="nav-link" href="/duel/4064521kovcexz9"><%= __('6x6 duel') %></a></li>
                <li><a class="nav-link" href="/contest/4064541kwpd0ck0"><%= __('Twentyx 1/2-No numbers') %></a></li>
                <li><a class="nav-link" href="/contest/40645j1l9dyfi6u"><%= __('Nikoli month 1/2') %></a></li>
                <li><a class="nav-link" href="/contest/4064601lad2he3n"><%= __('Nikoli month 2/2') %></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-list"></span> <%= __('Scores') %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link" href="/archive/scores"><%= __('Daily score') %></a></li>
            <li><a class="nav-link" href="/rating"><%= __('Rating') %></a></li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('League scores') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/league/2024-01-01"><%= __('January') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-02-01"><%= __('February') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-03-01"><%= __('March') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-04-01"><%= __('April') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-05-01"><%= __('May') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-06-01"><%= __('June') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-07-01"><%= __('July') %> 2024</a></li>
                <li><a class="nav-link" href="/league/2024-08-01"><%= __('August') %> 2024</a></li>
              </ul>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Puzzle XL') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/40645r1kb6ih7hk/results"><%= __('Puzzle XL 2020') %></a></li>
                <li><a class="nav-link" href="/contest/40644y1kpokjatr/results"><%= __('Puzzle XL 2021') %></a></li>
                <li><a class="nav-link" href="/contest/bjhute1kiujaiue/results"><%= __('Puzzle XL 2022') %></a></li>
                <li><a class="nav-link" href="/contest/ythutoiuiujaqwe/results"><%= __('Puzzle XL 2023') %></a></li>
                <li><a class="nav-link" href="/contest/ufgkjdkhganvswq/results"><%= __('Puzzle XL 2024') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('dOubLESHOW') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/4064581kgp183b9/results"><%= __('dOubLESHOW') %></a></li>
                <li><a class="nav-link" href="/contest/40644z1kkchbyx9/results"><%= __('dOubLESHOW 2') %></a></li>
                <li><a class="nav-link" href="/contest/5177acdef9fty/results"><%= __('dOubLESHOW 3') %></a></li>
                <li><a class="nav-link" href="/contest/40644y1kupynynq/results"><%= __('dOubLESHOW 2x2') %></a></li>
                <li><a class="nav-link" href="/contest/ef0ey1kyqecvq1/results"><%= __('dOubLESHOW') %> <span class="flipV">2</span></a></li>
                <li><a class="nav-link" href="/contest/yu6541kuy82cvs/results"><%= __('dOubLESHOW 6') %></a></li>
                <li><a class="nav-link" href="/contest/40645e1lawglwtl/results"><%= __('dOubLESHOW 7') %></a></li>
                <li><a class="nav-link" href="/contest/4064531lfohn6q2/results"><%= __('dOubLESHOW 2x2x2') %></a></li>
                <li><a class="nav-link" href="/contest/yeurw8yqash/results"><%= __('dOubLESHOW 3') %><sup>2</sup></a></li>
                <li><a class="nav-link" href="/contest/iuywcxpqnpi/results"><%= __('dOubLESHOW 10') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Month-long marathons') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/contest/ttautpiaiuianto/results"><%= __('Tap into Tapa') %></a></li>
                <li><a class="nav-link" href="/contest/4064531lnk3us0f/results"><%= __('Skyline Magic') %></a></li>
                <li><a class="nav-link" href="/contest/4074511lr3t8mqt/results"><%= __('Slitherlink Expedition') %></a></li>
                <li><a class="nav-link" href="/contest/4064511lv3oxena/results"><%= __('Tetromino Canvas Clash') %></a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a  class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><%= __('Other contests') %></a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="nav-link" href="/duel/40645v1knnk0dug"><%= __('Anniversary duel') %></a></li>
                <li><a class="nav-link" href="/duel/4064521kovcexz9"><%= __('6x6 duel') %></a></li>
                <li><a class="nav-link" href="/contest/4064541kwpd0ck0/results"><%= __('Twentyx 1/2-No numbers') %></a></li>
                <li><a class="nav-link" href="/contest/40645j1l9dyfi6u/results"><%= __('Nikoli month 1/2') %></a></li>
                <li><a class="nav-link" href="/contest/4064601lad2he3n/results"><%= __('Nikoli month 2/2') %></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <% if (user && user.role == 'author') { %>
        <li class="nav-item">
          <a class="nav-link" href="/archive/author"><span class="glyphicon glyphicon-pencil"></span> <%= __('Author') %></a>
        </li>
        <% } %>
        <% if (user && user.role == 'admin') { %>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> <%= __('Admin') %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link" href="/admin/daily?sort=t"><%= __('Daily puzzles') %></a></li>
            <li><a class="nav-link" href="/admin/userips"><%= __('User stat') %></a></li>
            <li><a class="nav-link" href="/admin/instantrating"><%= __('Instant rating') %></a></li>
            <li><a class="nav-link" href="/admin/clearcache"><%= __('Clear cache') %></a></li>
          </ul>
        </li>
        <% } %>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-question-sign"></span> <%= __('Help') %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="nav-link" href="/help"><%= __('About') %></a></li>
            <li><a class="nav-link" href="/archive/examples"><%= __('Example puzzles') %></a></li>
            <li><a class="nav-link" href="/help/videos"><%= __('Explainer videos') %></a></li>
            <li><a class="nav-link" href="/help/authors"><%= __('Our contributors') %></a></li>
            <li><a class="nav-link" href="/announcements"><%= __('Announcements') %></a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right">    
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-adjust"></span> <%= __('Color') %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="nav-link" href="?theme=default"><%= __('Default') %></a></li>
              <li><a class="nav-link" href="?theme=contrast"><%= __('Contrast') %></a></li>
              <li><a class="nav-link" href="?theme=white"><%= __('White') %></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-globe"></span> Language
            <span class="caret"></span></a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="nav-link" href="?lang=en">English</a></li>
              <li><a class="nav-link" href="?lang=ru">Русский</a></li>
            </ul>
          </li>
          <% if(user) { %>
          <% const userStyle = (user.league && leagueSettings && leagueSettings[user.league] && leagueSettings[user.league].mainStyle) ? leagueSettings[user.league].mainStyle : "" %>
          <li class="nav-item"><a class="nav-link" style='<%= userStyle %>' href="/users/overview"><span class="glyphicon glyphicon-user"></span> <%= user.name %></a></li>
          <% if(mailboxState!='none') { %>
          <li class="nav-item">
            <a class="nav-link"  href="/mailbox">
            <% if(mailboxState=='warning') { %>
            <span class="align-baseline text-warning">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-exclamation-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207z"/>
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0m0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
              </svg>
            </span>
            <% } else { %>
            <span class="align-baseline">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
              </svg>
            </span>
            <% } %>
            <span class="d-inline d-lg-none">
              <%= __('Comments') %>
            </span>
            </a>
          </li>
          <% } %>
          <li class="nav-item"><a class="nav-link" href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> <%= __('Logout') %></a></li>
          <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/users/login"><span class="glyphicon glyphicon-log-in"></span> <%= __('Login') %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<%- include ('./messages') %>
<script>
  $(document).ready(function () {
    <% if (announcement.message){ %>
    showMessage("<%- announcement.message %>",null,"<%= announcement.start.toISOString().split('T')[0] %>");
    <% } %>
  });
</script>