<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body pt-0 pb-0 mb-0"><%= puzzle.type.name %></h2>
<p class="card-body text-right pb-0 pt-0 mb-0"><small>Author: <%= puzzle.author %></small></p>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  <filter id="chooser">
    <feColorMatrix type="matrix" values="-1 0 0 0 1
                                         0 -1 0 0 1
                                         0 0 -1 0 1
                                         0 0 0 1 0"/>
  </filter>
</svg>
<div class="row card-body">
  <div class="col-8 text-left">
    <button id="startBtn" type="button" class="btn btn-primary">Start</button>
    <button id="revertBtn" type="button" class="btn btn-primary">Revert</button>
  </div>
  <div class="col-4 text-right">
    <span id="timer" class="align-top mr-2" style="font-family: Lucida Console; font-size: 130%;"></span>
    <button id="checkBtn" type="button" class="btn btn-primary">Check</button>
  </div>
  <p class="card-text text-left pt-3"><%= puzzle.type.rules %></p>
  <p class="card-text text-left pt-3"><b>Game control</b>: 
    <% if(puzzle.type.puzzleJs=="chooser_square_puzzle.js") { %>
      Press the mouse button at the celected cell, then holding the button move the move to the right option and release the button.
    <% } else { %>
      Click the mouse button at the celected cell to change the filling of the cell.
    <% } %>
  </p>
</div>
<script src="/js/common.js"></script>
<script src="/js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    var controls = {
      startBtn: "#startBtn",
      revertBtn: "#revertBtn",
      checkBtn: "#checkBtn",
      timer: "#timer"
    };
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, controls);
    puzzle.render(Snap("#mainGrid"));
  }

  function startPuzzle() {
    $("#checkBtn").prop('disabled', false);
    $("#revertBtn").show();
    $("#startBtn").html('Restart');
    puzzle.start();
  }

  function checkPuzzle() {
    puzzle.check();
  }

  function revertStep() {
    puzzle.revertStep();
  }
</script>
<% } %>
