<% if(typeof puzzle != 'undefined'){ %> 
<div class="card" id="editControls" >
<div name="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert"
     style="display: none; position: absolute; top: 0; left: 0; z-index: 100;">
  <span name="errorMessageText"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div name="successMessage" class="alert alert-success alert-dismissible fade show" role="alert"
     style="display: none; position: absolute; top: 0; left: 0; z-index: 100;">
  <span name="successMessageText"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h2 class="card-body"><%= puzzle.type.name %> (Edit mode)</h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body" >
  <div class="col-4 text-left">
    <button name="revertBtn" type="button" class="btn btn-primary">Undo</button>
  </div>
  <div class="col-8 text-right">
    <select class="custom-select" name="tag" style="width: 150px" >
      <option value=""></option>
      <option value="daily" <%= (puzzle.tag && puzzle.tag.includes("daily"))?"selected":"" %>>Daily</option>
      <option value="example"<%= (puzzle.tag && puzzle.tag.includes("example"))?"selected":"" %>>Example</option>
    </select>
    <button name="saveBtn" type="button" class="btn btn-primary">Save</button>
  </div>
</div>
</div>
<script src="/js/locale_<%= getLocale() %>.js"></script>
<script src="/js/common.js"></script>
<script src="/js/<%= puzzle.type.puzzleJs=="path_square_puzzle.js"?"paint_square_puzzle.js":puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, "#editControls");
    puzzle.render(Snap("#mainGrid"));
    puzzle.edit();
  }
</script>
<% } %>
