<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body pt-0"><%= puzzle.type.name %></h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 100;"></svg>
<div class="row card-body">
  <div class="col-8 text-left">
    <button id="startBtn" type="button" class="btn btn-primary" onclick="startPuzzle()">Start</button>
    <button id="revertBtn" type="button" class="btn btn-primary" style="display: none" onClick="revertStep()">Revert</button>
  </div>
  <div class="col-4 text-right">
    <button id="checkBtn" type="button" class="btn btn-primary" disabled onClick="checkPuzzle()">Check</button>
  </div>
  <p class="card-text text-left pt-3"><%= puzzle.type.rules %></p>
  <p class="card-text text-left pt-3"><b>Game control</b>: 
    <% if(puzzle.type.puzzleJs=="chooser_square_puzzle.js") { %>
      Press the mouse button at the celected cell, then holding the button move the move to the right option and release the button.
    <% } else { %>
      Click the mouse button at the celected cell to change the filling of the cell.
    <% } %>
  </p>
</div>
<script src="../../js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    puzzle = new <%= puzzle.type.puzzleObj %>("<%= puzzle.type.code %>", "<%= puzzle.code %>", "<%= puzzle.dimension %>");
    puzzle.render(Snap("#mainGrid"));
  }

  function startPuzzle() {
    $("#checkBtn").prop('disabled', false);
    $("#revertBtn").show();
    $("#startBtn").html('Restart');
    puzzle.start();
  }

  function checkPuzzle() {
    puzzle.check();
  }

  function revertStep() {
    puzzle.revertStep();
  }
</script>
<% } %>
