<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body pt-0">Edit <%= puzzle.type.name %></h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  <filter id="chooser">
    <feColorMatrix type="matrix" values="-1 0 0 0 1
                                         0 -1 0 0 1
                                         0 0 -1 0 1
                                         0 0 0 1 0"/>
  </filter>
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body">
  <div class="col-8 text-left">
    <button id="revertBtn" type="button" class="btn btn-primary">Undo</button>
  </div>
  <div class="col-4 text-right">
    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
  </div>
</div>
<script src="/js/common.js"></script>
<script src="/js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    var controls = {
      revertBtn: "#revertBtn",
      saveBtn: "#saveBtn"
    };
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, controls);
    puzzle.render(Snap("#mainGrid"));
    puzzle.edit();
  }
</script>
<% } %>
