<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body pt-0"><%= puzzle.type.name %></h2>
<svg id="mainGrid" class="col-xs-12 text-center" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
<div class="row card-body">
  <div class="col-8 text-left">
    <button id="startBtn" type="button" class="btn btn-primary" onclick="startPuzzle()">Start</button>
    <button id="revertBtn" type="button" class="btn btn-primary" style="display: none" onClick="revertStep()">Revert</button>
  </div>
  <div class="col-4 text-right">
    <button id="checkBtn" type="button" class="btn btn-primary" disabled onClick="checkPuzzle()">Check</button>
  </div>
  <p class="card-text text-left pt-3"><%= puzzle.type.rules %></p>
</div>
<script src="../../js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    puzzle = new <%= puzzle.type.puzzleObj %>("<%= puzzle.type.code %>", "<%= puzzle.code %>", "<%= puzzle.dimension %>");
    puzzle.render(Snap("#mainGrid"));
  }

  function startPuzzle() {
    $("#checkBtn").prop('disabled', false);
    $("#revertBtn").show();
    $("#startBtn").html('Restart');
    puzzle.start();
  }

  function checkPuzzle() {
    puzzle.check();
  }

  function revertStep() {
    puzzle.revertStep();
  }
</script>
<% } %>
