<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body pt-0">Edit <%= puzzle.type.name %></h2>
<svg id="mainGrid" class="col-xs-12 text-center"></svg>
<div class="row card-body">
  <div class="col-8 text-left">
    <button id="revertBtn" type="button" class="btn btn-primary" onClick="revertStep()">Revert</button>
  </div>
  <div class="col-4 text-right">
    <button id="checkBtn" type="button" class="btn btn-primary" onClick="savePuzzle()">Save</button>
  </div>
</div>
<script src="/js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    puzzle = new <%= puzzle.type.puzzleObj %>("<%= puzzle.type.code %>", "<%= puzzle.code %>", "<%= puzzle.dimension %>");
    puzzle.render(Snap("#mainGrid"));
    puzzle.edit();
  }

  function savePuzzle() {
    puzzle.save();
  }

  function revertStep() {
    puzzle.revertStep();
  }
</script>
<% } %>
