<% if(typeof puzzle != 'undefined'){ %> 
<h2 class="card-body"><%= puzzle.type.name %> (Edit mode)</h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body" id="editControls" >
  <div class="col-8 text-left">
    <button name="revertBtn" type="button" class="btn btn-primary">Undo</button>
  </div>
  <div class="col-4 text-right">
    <button name="saveBtn" type="button" class="btn btn-primary">Save</button>
  </div>
</div>
<script src="/js/locale_<%= getLocale() %>.js"></script>
<script src="/js/common.js"></script>
<script src="/js/<%= puzzle.type.puzzleJs=="path_square_puzzle.js"?"paint_square_puzzle.js":puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, "#editControls");
    puzzle.render(Snap("#mainGrid"));
    puzzle.edit();
  }
</script>
<% } %>
