<% if(typeof puzzle != 'undefined'){ %> 
<div class="card" id="<%= (typeof prefix != undefined)?prefix+'Controls':'puzzleControls' %>">
<h2 class="card-body pt-0 pb-0 mb-0"><%= puzzle.type.name %></h2>
<p class="card-body text-right pb-0 pt-0 mb-0"><small><%= __('Author:') %> <%= puzzle.author %></small></p>
<svg id="<%= (typeof prefix != undefined)?prefix+'Grid':'mainGrid' %>"
     class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  <%= __('Sorry, but your browser is not supported. Try to setup the new version.') %>
</svg>
<div class="row card-body">
  <div class="col-8">
    <div class="d-flex flex-row flex-wrap">
      <div class="modal" name="restartModal">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-body">
              <p><%= __('Do you want to restart the puzzle? All progress will be lost!') %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" name="confirmYes"><%= __('Yes') %></button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= __('No') %></button>
            </div>
          </div>
        </div>
      </div>
      <button name="startBtn" type="button" class="btn btn-primary mb-3 mr-3"><%= __('Start') %></button>
      <button name="revertBtn" type="button" class="btn btn-primary mb-3 mr-3" style="display: none;"><%= __('Undo') %></button>
      <div class="mt-1 mr-3" name="pencilMarkCtrl" style="display: none;">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="pencilMarkCb"
                 id="<%= (typeof prefix != undefined)?prefix+'pencilMarkCb':'pencilMarkCb' %>">
          <label class="custom-control-label"
                 for="<%= (typeof prefix != undefined)?prefix+'pencilMarkCb':'pencilMarkCb' %>">
            <%= __('Pencil-marks') %>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex flex-row-reverse flex-wrap">
      <button name="checkBtn" type="button" class="btn btn-primary mb-3 ml-3"><%= __('Check') %></button>
      <span name="timer" class="align-top" style="font-family: Lucida Console; font-size: 130%; display: none;"></span>
    </div>
  </div>
  <p class="card-text text-left mt-2"><%= puzzle.type.rules %></p>
  <p class="card-text text-left mt-1"><b><%= __('Grid control') %></b>:
    <% if(puzzle.type.puzzleJs=="chooser_square_puzzle.js") { %>
      <%= __('Click at a cell reveals the value chooser. Click at the selected value changes the state of the cell.') %>
    <% } else if(puzzle.type.puzzleJs=="path_square_puzzle.js") { %>
      <%= __('To draw a line press the mouse button at a start cell and move mouse to another cell holding the button.') %>
    <% } else { %>
      <%= __('Click the mouse button at the selected cell to change the filling of the cell.') %>
    <% } %>
    <%= __('More details about grid control are at the') %> <a href='/help'><%= __('help page') %></a>.
  </p>
</div>
</div>
<script src="/js/locale_<%= getLocale() %>.js"></script>
<script>
  function show<%= (typeof prefix != undefined)?prefix+'Puzzle':'Puzzle' %>() {
    var controls = "#<%= (typeof prefix != undefined)?prefix+'Controls':'puzzleControls' %>";
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    var grid = "#<%= (typeof prefix != undefined)?prefix+'Grid':'mainGrid' %>"
    requirejs(["/js/<%= puzzle.type.puzzleJs %>"], function() {
      <%= (typeof prefix != undefined)?prefix+'Puzzle':'puzzle' %> = new <%= puzzle.type.puzzleObj %>(puzzleData, controls);
      <%= (typeof prefix != undefined)?prefix+'Puzzle':'puzzle' %>.render(Snap(grid));
    });

  }
</script>
<% } %>
