<% if(typeof puzzle != 'undefined'){ %> 
<div class="card" id="editControls" >
<h2 class="card-body"><%= puzzle.type.name %> (Edit mode)</h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body" >
  <div class="col-2 text-left">
    <button name="revertBtn" type="button" class="btn btn-primary">Undo</button>
  </div>
  <div class="col-10 form-inline text-right d-flex justify-content-end">
    <div class="form-group pr-4 pb-2">
      <label class="col-form-label pr-1" for="difficulty">Difficulty (s)</label>
      <input class="form-control" value="<%= puzzle.difficulty/1000 %>" style="width: 100px" type="number" min="10" class="form-control" name="difficulty" id="difficulty">
    </div>
    <div class="form-group pr-4 pb-2">
      <select class="custom-select" name="tag" style="width: 100px" >
        <option value=""></option>
        <option value="daily" <%= (puzzle.tag && puzzle.tag.includes("daily"))?"selected":"" %>>Daily</option>
        <option value="example_"<%= (puzzle.tag && puzzle.tag.includes("example"))?"selected":"" %>>Example</option>
        <option value="temporary" <%= (puzzle.tag && puzzle.tag.includes("temporary"))?"selected":"" %>>Temporary</option>
        <option value="public" <%= (puzzle.tag && puzzle.tag.includes("public"))?"selected":"" %>>Public</option>
        <option value="contest" <%= (puzzle.tag && puzzle.tag.includes("contest"))?"selected":"" %>>Contest</option>
      </select>
    </div>
    <div class="form-group pr-4 pb-2">
      <button name="saveBtn" type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
</div>
<script src="/js/locale_<%= getLocale() %>.js"></script>
<script>
  function showPuzzle() {
    var puzzleData = {
      typeCode: "<%= puzzle.type.code %>",
      id: "<%= puzzle.code %>",
      dimension: "<%= puzzle.dimension %>"
    };
    var settings = {};
    settings.theme = "<%= (typeof theme!="undefined")?theme:"" %>";
    <% var puzzleJs=puzzle.type.puzzleJs.replace(/\.js$/, ''); %>
    requirejs(["<%= puzzleJs=="path_square_puzzle"?"paint_square_puzzle":puzzleJs %>"], function() {
      puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, "#editControls", settings);
      puzzle.render(Snap("#mainGrid"));
      puzzle.edit();
    });
  }
</script>
<% } %>
