<% if(typeof puzzle != 'undefined'){ %> 
<div class="card-body">  
  <h2 class="card-text text-left"><%= puzzle.type.name %></h2>
</div>
<svg id="mainGrid" class="col-xs-12 text-center"></svg>
<div class="card-body">
  <button id="startBtn" type="button" class="btn btn-primary" onclick="startPuzzle()">Start</button>
  <button id="checkBtn" type="button" class="btn btn-primary" disabled onClick="checkPuzzle()">Check</button>
  <p class="card-text text-left pt-3"><%= puzzle.type.rules %></p>
</div>
<script src="../../js/<%= puzzle.type.puzzleJs %>"></script>
<script>
  function showPuzzle() {
    puzzle = new <%= puzzle.type.puzzleObj %>("<%= puzzle.type.code %>", "<%= puzzle.code %>", "<%= puzzle.dimension %>");
    puzzle.render(Snap("#mainGrid"));
  }

  function startPuzzle() {
    $("#checkBtn").prop('disabled', false);
    $("#startBtn").html('Restart');
    puzzle.start();
  }

  function checkPuzzle() {
    puzzle.check();
  }
</script>
<% } %>
