<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
        <h1 class="card-header">Users action log</h1>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <tr>
                <th>Date/time</th>
                <% var userToCol = {}; %>
                <% var colNum = 0; %>
                <% users.forEach(function(user) { %>
                <th>
                  <%= user.name %>
                  <% userToCol[user._id] = colNum++; %>
                </th>
                <% }) %>
              </tr>
              <% logData.forEach(function(logItem) { %>
              <tr>
                <td>
                  <%= logItem.date.toISOString() %>
                </td>
                <% for(var i=0;i<userToCol[logItem.userId];i++) { %>
                <td></td>
                <% } %>
                <td>
                  <%= logItem.puzzleId %>(<%= logItem.action %>)
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

