<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 m-auto">
      <% if(puzzle){ %> 
        <div class="card">
          <%- include ('./partials/puzzleedit') %>
          <a class="text-right pb-2" href="/single/<%= puzzle.code %>">Open solving window</a>
        </div>
        <% if(typeof answers != 'undefined') { %>
        <div class="card">
          <h3 class="card-body">Answers</h3>
          <div class="card-body">
            <table class="table table-hover table-condensed">
              <tbody>
                <% var answerMap = answers.reduce((group, answer) => {
                  const category = JSON.stringify(answer.data);
                  if (typeof group[category] == "undefined") {
                    group[category] = [];
                  }
                  group[category].push(answer);
                  return group;
                }, {}); %>
                <% Object.entries(answerMap).forEach(function([answer, users]) { %>
                <% if (answer) { %>
                <tr>
                  <td><%= answer %></td>
                  <td>
                    <table class="table table-hover table-condensed">
                      <tbody>
                        <% users.forEach(function(user){ %>
                        <tr>
                          <td><%= user.date.toISOString().substr(5,14).replace('T',' ') %></td>
                          <td><%= user.userName %></td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <% } %>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <% } %>
        <script>
          $(document).ready(function () {
            showPuzzle();
          });
        </script>
      <% } %>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

