<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
        <h1 class="card-header"><%= __('Daily puzzles') %></h1>
          <% function getMonth(puzzle) {return puzzle.daily?puzzle.daily.getMonth():"None"; } %>
          <% function getYear(puzzle) {return puzzle.daily?puzzle.daily.getFullYear():""; } %>
          <% function getMonthAndYear(puzzle) {return puzzle.daily?(puzzle.daily.getMonth().toString()+puzzle.daily.getFullYear()):"None"; } %>
          <div class="accordion" id="mainAccordion">
            <% var prevMonth = null; %>
            <% puzzles.forEach(function(puzzle) { %>
            <% if (getMonthAndYear(puzzle) != prevMonth) { %>
            <% if (prevMonth!=null) { %>
                  </tbody>
                </table>
              </div>
            </div>
            <% } %>
            <div class="card">
              <div class="card-header" id="month<%= getMonthAndYear(puzzle) %>Heading">
                <button class="btn btn-link" type="button"
                  data-toggle="collapse" data-target="#month<%= getMonthAndYear(puzzle) %>Collapse"
                  aria-expanded="true" aria-controls="month<%= getMonthAndYear(puzzle) %>Collapse"
                >
                  <h2><%= __('month' + getMonth(puzzle)) %> <%= getYear(puzzle) %></h2>
                </button>
              </div>
              <div id="month<%= getMonthAndYear(puzzle) %>Collapse"
                   class="collapse <%= prevMonth==null?"show":"" %>"
                   aria-labelledby="month<%= getMonthAndYear(puzzle) %>Heading"
                   data-parent="#mainAccordion">
                <table class="card-body table table-hover table-condensed ml-5">
                  <tbody>
                    <tr>
                      <th><%= __('Date') %></th>
                      <th class="d-none d-sm-table-cell"></th>
                      <th><%= __('Puzzle') %></th>
                      <% if (user) { %>
                      <th class="d-none d-sm-table-cell"><%= __('Your time') %></th>
                      <% } %>
                      <th class="d-none d-sm-table-cell"><%= __('Best score') %></th>
                    </tr>
            <% } %>
            <% prevMonth = getMonthAndYear(puzzle); %>
                    <tr>
                      <td>
                        <%= puzzle.daily?puzzle.daily.toISOString().split('T')[0]:"" %>
                      </td>
                      <td class="d-none d-sm-table-cell">
                        <% if(puzzle.competitive) { %>
                        <span class="pl-1 d-none d-sm-inline-flex">(<%= __('competitive') %>)</span>
                        <% } else {%>
                        <% if (puzzle.rating && puzzle.rating.rating>0) { %>
                        <%- include ('./partials/rating_span', {rating: puzzle.rating.rating, ratingCount: puzzle.rating.count}) %>
                        <% } %>
                        <% } %>
                      </td>
                      <td>
                        <a href="/single/<%= puzzle.code %>">
                          <%= puzzle.type %>
                          <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                        </a>
                      </td>
                      <% if (user) { %>
                      <td class="d-none d-sm-table-cell">
                        <%= puzzle.userTime %>
                      </td>
                      <% } %>
                      <td class="d-none d-sm-table-cell">
                        <a href="/archive/<%= puzzle.code %>/scores">
                          <%= puzzle.time %>
                        </a>
                      </td>
                    </tr>
            <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <p class="card-text text-left pt-3">
            <%= __('Click at the puzzle name to solve the selected puzzle.') %>
            <%= __('Puzzles which are older than 5 days are non-competitive and can be attempted without registration.') %><br>
            <%= __('Click at the best solving time value to see the score table for the selected puzzle.') %>
          </p>
          <p class="card-text text-justify pt-2">
            <%= __('Choose year:') %><% for (let year = 2020; year <= new Date().getFullYear(); year++) { %>
            &nbsp;&nbsp;<a href="/archive/daily?year=<%=year %>"><%=year %></a>
            <% } %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('.collapse').on('shown.bs.collapse', function(e) {
      var $card = $(this).closest('.card');
      $('html,body').animate({scrollTop: $card.offset().top},500);
    });
  });
</script>
<%- include ('./partials/footer') %>

