<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class="">Your puzzles</h1>
          <div class="p-2 align-bottom text-right">
            <% if (future) { %>
            <a href="/archive/author?future=false">Show old puzzles</a>
            <% } else { %>
            <a href="/archive/author?future=true">Hide old puzzles</a>
            <% } %>
          </div>
        </div>
        <p class="card-body">
          <a class="btn btn-primary" data-toggle="collapse" href="#newform" aria-expanded="false" aria-controls="Collapse">
            Create new
          </a>
        </p>
        <div class="collapse" id="newform">
          <div class="card card-body">
            <a data-toggle="collapse" href="#dailyqueue" aria-expanded="false" aria-controls="Collapse">
              Show/hide current queue
            </a><br>
            <div class="collapse bg-light" style="position: absolute; top: 45px; left: -30px; z-index: 100;" id="dailyqueue">
              <div class="card card-body">
                The list shows how many puzzles of each type are waiting<br> in the daily puzzles queue to be published
                <table class="table table-sm table-condensed table-borderless">
                  <tbody>
                    <% dailyQueue.sort((type1,type2) => (type1.count - type2.count)).forEach(function(type) { %>
                    <tr>
                      <td>
                        <%= type.name %>
                      </td>
                      <td>
                        <%= type.count %>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group pr-4 pb-2">
                <select class="custom-select" id="type">
                  <% types.forEach(function(type) { %>
                  <option value="<%= type.code %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="rows">Rows</label>
                <input type="number" min="2" max="15" value="9" class="form-control" id="rows">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="cols">Columns</label>
                <input type="number" min="2" max="15" value="9" class="form-control" id="cols">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="letters">Values</label>
                <input class="form-control" width="5" id="letters">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="size">Quantity</label>
                <input type="number" min="0" max="99" class="form-control" id="quantity">
              </div>
              <div class="form-group pr-4 pb-2">
                <button type="submit" id="createPuzzle" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          var squared = [];
          var needLetters = [];
          var needQuantity = [];
          var rows = [];
          <% types.forEach(function(type) { %>
          <% if (type.properties && type.properties.squared) { %>
          squared['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.rows) { %>
          rows['<%= type.code %>'] = <%= type.properties.rows %>;
          <% } %>
          <% if (type.properties && type.properties.needLetters) { %>
          needLetters['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.needQuantity) { %>
          needQuantity['<%= type.code %>'] = true;
          <% } %>
          <% }) %>
          function showFields() {
            $("#letters").parent().toggle(needLetters[$("#type").children("option:selected").val()]==true);
            $("#quantity").parent().toggle(needQuantity[$("#type").children("option:selected").val()]==true);
            $("#cols").parent().toggle(squared[$("#type").children("option:selected").val()]!=true);
            $("#rows").parent().toggle(typeof rows[$("#type").children("option:selected").val()] == "undefined");
          }
          $("#type").change(showFields);
          $(document).ready(showFields);
          $("#createPuzzle").click(function () {
            var type = $("#type").children("option:selected").val();
            if (typeof rows[type] != "undefined") {
              var rowN = rows[type];
            } else {
              var rowN = $("#rows").val();
            }
            if (squared[type]) {
              var colN = rowN;
            } else {
              var colN = $("#cols").val();
            }
            var dimension = colN + "x" + rowN;
            if (needLetters[type]) {
              var letters = $("#letters").val().replace(/[^ABCDE1234567890]/g, '');
              if (!letters) {
                window.alert('Specify the list of available letters/digits for the puzzle!');
                return;
              }
              dimension = dimension + "-" + letters;
            }
            if (needQuantity[type]) {
              var quantity = $("#quantity").val();
              if (!quantity) {
                window.alert('Specify the value for quantity field!');
                return;
              }
              dimension = dimension + "-" + quantity;
            }
            var url = "/single/" + type + "/" + dimension + "/new";
            window.location = url;
          });
        </script>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <% puzzles.sort((p1,p2) => (p2.puzzleDate - p1.puzzleDate)).forEach(function(puzzle) { %>
              <tr>
                <td>
                  <%= puzzle.tag %>
                  <%= puzzle.puzzleDate?("("+puzzle.puzzleDate.toISOString().split('T')[0]+")"):"" %></td>
                <td>
                  <a href="/single/<%= puzzle.code %>">
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                  </a>
                </td>
                <td>
                  <a href="/archive/<%= puzzle.code %>/scores">
                    <%= puzzle.time %>
                  </a>
                </td>
                <td><% if(!puzzle.published) { %>
                  <a href="/single/<%= puzzle.code %>/author/">
                    Edit
                  </a>
                <% } %></td>
                <td><% if(!puzzle.tag || puzzle.tag=='temporary' || puzzle.tag=='daily' && !puzzle.puzzleDate) { %>
                  <a href="" onclick = "deletePuzzle('<%= puzzle.code %>')">
                    Delete
                  </a>
                <% } %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function deletePuzzle(puzzleId) {
  if (confirm("Do you really want to delete the puzzle?")) {
    $.post("/puzzles/" + puzzleId + "/delete")
    .done(() => {location.reload();})
    .fail((jqxhr, textStatus, error) => {alert(jqxhr.responseText);});
  }
}
</script>
<%- include ('./partials/footer') %>

