<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class="">You puzzles</h1>
          <div class="p-2 align-bottom text-right">
            <% if (future) { %>
            <a href="/archive/author">Show old puzzles</a>
            <% } else { %>
            <a href="/archive/author?future=true">Hide old puzzles</a>
            <% } %>
          </div>
        </div>
        <p class="card-body">
          <a class="btn btn-primary" data-toggle="collapse" href="#newform" aria-expanded="false" aria-controls="Collapse">
            Create new
          </a>
        </p>
        <div class="collapse" id="newform">
          <div class="card card-body">
            <div class="form-inline">
              <div class="form-group pr-4 pb-2">
                <select class="custom-select" id="type">
                  <% types.forEach(function(type) { %>
                  <option value="<%= type.code %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="rows">Rows</label>
                <input type="number" min="2" max="15" value="9" class="form-control" id="rows">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="cols">Columns</label>
                <input type="number" min="2" max="15" value="9" class="form-control" id="cols">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="cols">Letters</label>
                <input class="form-control" width="5" id="letters">
              </div>
              <div class="form-group pr-4 pb-2">
                <button type="submit" id="createPuzzle" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          $("#letters").parent().toggle($("#type").children("option:selected").val()=="easy_as_abc");
          $("#type").change(function() {
            $("#letters").parent().toggle($("#type").children("option:selected").val()=="easy_as_abc");
          });
          $("#createPuzzle").click(function () {
            var type = $("#type").children("option:selected").val();
            var dimension = $("#cols").val() + "x" + $("#rows").val();
            if ($("#letters").val()) {
              dimension = dimension + "-" + $("#letters").val();
            }
            var url = "/single/" + type + "/" + dimension + "/new";
            window.location = url;
          });
        </script>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <% puzzles.forEach(function(puzzle) { %>
              <tr>
                <td>
                  <%= puzzle.tag %>
                  <%= puzzle.daily?("("+puzzle.daily.toISOString().split('T')[0]+")"):"" %></td>
                <td>
                  <a href="/single/<%= puzzle.code %>">
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension+")":"" %>
                  </a>
                </td>
                <td>
                  <a href="/archive/<%= puzzle.code %>/scores">
                    <%= puzzle.time %>
                  </a>
                </td>
                <td><% if(!puzzle.published) { %>
                  <a href="/single/<%= puzzle.code %>/author/">
                    Edit
                  </a>
                <% } %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

