<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class="">Your puzzles</h1>
          <div class="p-2 align-bottom text-right">
            <% if (publish!="false") { %>
            <a href="/archive/author?publish=false">Show unpublished puzzles</a>
            &nbsp;&nbsp;
            <% } %>
            <% if (publish!="true") { %>
            <a href="/archive/author?publish=true">Show published puzzles</a>
            &nbsp;&nbsp;
            <% } %>
            <% if (publish!="all") { %>
            <a href="/archive/author?publish=all">Show All puzzles</a>
            <% } %>
          </div>
        </div>
        <p class="card-body">
          <a class="btn btn-primary" data-toggle="collapse" href="#newform" aria-expanded="false" aria-controls="Collapse">
            Create new
          </a>
        </p>
        <div class="collapse" id="newform">
          <div class="card card-body">
            <a data-toggle="collapse" href="#typesrating" aria-expanded="false" aria-controls="Collapse">
              Show/hide types demand rating
            </a><br>
            <div class="collapse bg-light" style="position: absolute; top: 45px; left: -30px; z-index: 100;" id="typesrating">
              <div class="card card-body">
                The demand rating shows how valuable new puzzles are<br> based on the amount and frequency of already existing puzzles.
                <table class="table table-sm table-condensed table-borderless">
                  <tbody>
                    <% typesRating.sort((type1,type2) => (type2.rating - type1.rating)).forEach(function(type) { %>
                    <tr>
                      <td>
                        <%= type.name %>
                      </td>
                      <td>
                        <%= type.rating %>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group pr-4 pb-2">
                <select class="custom-select" id="type">
                  <% types.forEach(function(type) { %>
                  <option value="<%= type.code %>"><%= type.name %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="rows">Rows</label>
                <input type="number" min="2" max="15" value="9" class="form-control" style="width:64px" id="rows">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="cols">Columns</label>
                <input type="number" min="2" max="15" value="9" class="form-control" style="width:64px" id="cols">
              </div>
              <div class="form-group pr-4 pb-2">
                 <input class="form-check-input" type="checkbox" value="" id="pentoset" checked/>
                 <label class="col-form-label pr-1" for="pentoset">Standard set</label>
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="letters">Values</label>
                <input class="form-control" width="5" style="width:128px" id="letters">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="size">Quantity</label>
                <input type="number" min="0" max="99" class="form-control" style="width:64px" id="quantity">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="shipset">Ship set</label>
                <select class="custom-select" id="shipset">
                  <option value="ship3">Ships 1-3</option>
                  <option value="ship4">Ships 1-4</option>
                  <option value="ship5">Ships 1-5</option>
                </select>
              </div>
              <div class="form-group pr-4 pb-2">
                <button type="submit" id="createPuzzle" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>
        <script>
          var squared = [];
          var needLetters = [];
          var needQuantity = [];
          var needShipset = [];
          var needPentoset = [];
          var rows = [];
          <% types.forEach(function(type) { %>
          <% if (type.properties && type.properties.squared) { %>
          squared['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.rows) { %>
          rows['<%= type.code %>'] = <%= type.properties.rows %>;
          <% } %>
          <% if (type.properties && type.properties.needLetters) { %>
          needLetters['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.needQuantity) { %>
          needQuantity['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.needShipset) { %>
          needShipset['<%= type.code %>'] = true;
          <% } %>
          <% if (type.properties && type.properties.needPentoset) { %>
          needPentoset['<%= type.code %>'] = true;
          <% } %>
          <% }) %>
          function showFields() {
            $("#letters").parent().toggle(needLetters[$("#type").children("option:selected").val()]==true
                                          || needPentoset[$("#type").children("option:selected").val()]==true && !$("#pentoset").is(':checked'));
            $("#quantity").parent().toggle(needQuantity[$("#type").children("option:selected").val()]==true);
            $("#shipset").parent().toggle(needShipset[$("#type").children("option:selected").val()]==true);
            $("#pentoset").parent().toggle(needPentoset[$("#type").children("option:selected").val()]==true);
            $("#cols").parent().toggle(squared[$("#type").children("option:selected").val()]!=true);
            $("#rows").parent().toggle(typeof rows[$("#type").children("option:selected").val()] == "undefined");
          }
          $("#type").change(showFields);
          $("#pentoset").change(showFields);
          $(document).ready(showFields);
          $("#createPuzzle").click(function () {
            var type = $("#type").children("option:selected").val();
            if (typeof rows[type] != "undefined") {
              var rowN = rows[type];
            } else {
              var rowN = $("#rows").val();
            }
            if (squared[type]) {
              var colN = rowN;
            } else {
              var colN = $("#cols").val();
            }
            var dimension = colN + "x" + rowN;
            if (needLetters[type]) {
              var letters = $("#letters").val().replace(/[^ABCDE1234567890]/g, '');
              if (!letters) {
                window.alert('Specify the list of available letters/digits for the puzzle!');
                return;
              }
              dimension = dimension + "-" + letters;
            }
            if (needQuantity[type]) {
              var quantity = $("#quantity").val();
              if (!quantity) {
                window.alert('Specify the value for quantity field!');
                return;
              }
              dimension = dimension + "-" + quantity;
            }
            if (needShipset[type]) {
              var shipset = $("#shipset").val();
              if (!shipset) {
                window.alert('Specify the set of ships!');
                return;
              }
              dimension = dimension + "-" + shipset;
            }
            if (needPentoset[type]) {
              var pentoset = 'pento12';
              if (!$("#pentoset").is(':checked')) {
                var pento = $("#letters").val().replace(/[^FILNPTUVWXYZ]/g, '');
                if (!pento) {
                  window.alert('Specify the list of available pentomino for the puzzle!');
                  return;
                }
              } else {
                pento = 'pento12'
              }
              dimension = dimension + "-" + pento;
            }
            var url = "/single/" + type + "/" + dimension + "/new";
            window.location = url;
          });
        </script>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <% puzzles.sort((p1,p2) => (p2.puzzleDate - p1.puzzleDate)).forEach(function(puzzle) { %>
              <tr>
                <td>
                  <%= puzzle.tag %>
                  <%= puzzle.puzzleDate?("("+puzzle.puzzleDate.toISOString().split('T')[0]+")"):"" %></td>
                <td>
                  <a href="/single/<%= puzzle.code %>">
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                  </a>
                </td>
                <td>
                  <a href="/archive/<%= puzzle.code %>/scores">
                    <%= puzzle.time %>
                  </a>
                </td>
                <td>
                  <% if (puzzle.rating && puzzle.rating.rating>0) { %>
                  <a href="javascript:void(0);" onclick="showPuzzleComments('<%= puzzle.code %>','<%= puzzle.type %><%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>',<%= Math.round(puzzle.rating.rating*10)/10 %>,<%= puzzle.rating.count %>)" >
                    <% var rating=Math.round(puzzle.rating.rating*25-25); %>
                    <% var hearts=Math.round(5+rating*rating/223)/10; %>
                    <span class="hearts" style="width: calc(15px * <%= hearts %>)" data-toggle="tooltip" title="<%= rating %>% / <%= puzzle.rating.count %>"></span>
                  </a>
                  <% } %>
                </td>
                <td><% if(!puzzle.published) { %>
                  <a href="/single/<%= puzzle.code %>/author/">
                    Edit
                  </a>
                <% } %></td>
                <td><% if(!puzzle.tag || puzzle.tag=='temporary' || puzzle.tag=='daily' && !puzzle.puzzleDate) { %>
                  <a href="" onclick = "deletePuzzle('<%= puzzle.code %>')">
                    Delete
                  </a>
                <% } %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="puzzleComments" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="puzzleCommentsName"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center container-fluid">
        <p  class="text-left" id="puzzleCommentsDesc"></p>
        <p id="puzzleCommentsList"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
function showPuzzleComments(puzzleCode, puzzleDesc, rating, count) {
  $("#puzzleCommentsName").html(puzzleDesc);
  $("#puzzleCommentsDesc").html("Average rating: " + rating + ". Total number of votes: " + count);
  $("#puzzleCommentsList").load("/puzzles/"+puzzleCode+"/comments");
  $("#puzzleComments").modal();
}
function deletePuzzle(puzzleId) {
  if (confirm("Do you really want to delete the puzzle?")) {
    $.post("/puzzles/" + puzzleId + "/delete")
    .done(() => {location.reload();})
    .fail((jqxhr, textStatus, error) => {alert(jqxhr.responseText);});
  }
}
</script>
<%- include ('./partials/footer') %>

