<%- include ('./partials/navbar') %>
<style>
   @media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }
    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
  }
</style>
<script src="/js/accordion.js"></script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({placement: "auto"});
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <h1 class="card-header"><%= __('Puzzles by type') %></h1>
        <% if (typeof author!="undefined"){ %>
          <h3 class="card-header"><%= __('Author:') %> <%= author %></h3>
        <% } %>
        <div class="card-body">
          <div class="accordion" id="mainAccordion">
            <% var prevCategory = null; %>
            <% var prevType = null; %>
            <% function comparePuzzles(p1, p2) {
              if (p1.category==p2.category) {
                if (p1.type==p2.type) {
                  return (p1.difficulty || 0) - (p2.difficulty || 0);
                } else {
                  return p1.type.localeCompare(p2.type);
                }
              } else {
                return p1.category.localeCompare(p2.category);
              }
            } %>
            <% puzzles.sort((p1,p2) => comparePuzzles(p1, p2)).forEach(function(puzzle) { %>
            <% if (puzzle.category != prevCategory) { %>
            <% if (prevCategory!=null) { %>
              </div>
            </div>
            <% } %>
            <div class="card">
              <div class="card-header" id="<%= puzzle.category.substr(3) %>Heading">
                <button class="btn btn-link btn-xs-block" type="button"
                  data-toggle="collapse" data-target="#<%= puzzle.category.substr(3) %>Collapse"
                  aria-expanded="true" aria-controls="<%= puzzle.category.substr(3) %>Collapse"
                >
                  <h2><%= __(puzzle.category.substr(3)) %></h2>
                </button>
              </div>
              <div id="<%= puzzle.category.substr(3) %>Collapse" class="card-body collapse <%= prevCategory==null?"show":"" %>" aria-labelledby="<%= puzzle.category.substr(3) %>Heading" data-parent="#mainAccordion">
            <% } %>
            <% prevCategory = puzzle.category; %>
              <% if (puzzle.type != prevType) { %>
                 <h4 class="mb-0 mt-3" ><%= puzzle.type %></h4>
              <% } %>
              <% var stars=puzzle.difficulty>0?(1+Math.round(10*Math.log(puzzle.difficulty/30000))/10):0; %>
              <a style="white-space: nowrap;" class="mr-3" href="/single/<%= puzzle.code %>"><%= puzzle.dimension.split('-')[0] %>
                <span class="stars" style="width: calc(15px * <%= stars %>)" data-toggle="tooltip" title="<%= stars %>">
                </span>
              </a>
              <% prevType = puzzle.type; %>
            <% }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body"><%= __('Stars show the aproximate puzzle difficulty:') %>
          <ul>
            <li>
              <span class="stars" style="width: calc(15px)" data-toggle="tooltip" title="1">
              </span> - 30 <%= __n('second',30) %> <%= __('solving time for an expert') %>
            </li>
            <li>
              <span class="stars" style="width: calc(30px)" data-toggle="tooltip" title="2">
              </span> - 75 <%= __n('second',90) %> <%= __('solving time for an expert') %>
            </li>
            <li>
              <span class="stars" style="width: calc(45px)" data-toggle="tooltip" title="3">
              </span> - 4 <%= __n('minute',4) %> <%= __('solving time for an expert') %>
            </li>
            <li>
              <span class="stars" style="width: calc(60px)" data-toggle="tooltip" title="4">
              </span> - 10 <%= __n('minute',10) %> <%= __('solving time for an expert') %>
            </li>
            <li>
              <span class="stars" style="width: calc(75px)" data-toggle="tooltip" title="5">
              </span> - 25 <%= __n('minute',25) %> <%= __('solving time for an expert') %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#mainAccordion').on('shown.bs.collapse', function (e) {
      saveActiveAccordionPanel('archiveByType-activeCategory', e);
    })
  });
  restoreAccordionPanel('archiveByType-activeCategory', '#mainAccordion');
</script>
<%- include ('./partials/footer') %>

