<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="card">
        <% if (typeof contest.logo != "undefined") { %>
        <h1 class="card-header"><img src="<%= contest.logo %>" /></h1>
        <h3 class="card-body"><%- contest.name %></h3>
        <% } else { %>
        <h1 class="card-header"><%- contest.name %></h1>
        <% }%>
        <div class="card-body">
          <%- contest.description %>
          <% if(!contest.type || contest.type != 'championship') {%>
          <br><br>
          <%= __('Full results of the contest see at ') %>
          <a href="/contest/<%= contest.code %>/results"><%= __('the results page') %></a>
          <% } %>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <tr>
                <th><%= __('#') %></th><th><%= __('Puzzle') %></th>
                <% if(user) { %>
                <th><%= __('Your time') %></th>
                <% if(!contest.type || contest.type != 'championship') {%>
                <th><%= __('Your score') %></th>
                <% } %>
                <% } %>
                <% if(!contest.type || contest.type != 'championship') {%>
                <th><%= __('Best time') %></th>
                <% } %>
              </tr>
              <% puzzles.sort((puzzle1, puzzle2) => puzzle1.num - puzzle2.num).forEach(function(puzzle) { %>
              <tr>
                <td>
                  <%= puzzle.num %>
                  <span class="pl-1 d-none d-sm-inline-flex">(<%= puzzle.puzzleDate.toISOString().split('T')[0] %><% if(puzzle.competitive) { %>, <%= __('competitive') %><% }%>)</span>
                </td>
                <td>
                  <a href="/single/<%= puzzle.code %>">
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                  </a>
                </td>
                <% if(user) { %>
                <td><%= puzzle.userTime %><%= puzzle.userErrCount==0 ? "" : (" (" + puzzle.userErrCount + " " + __n("error", puzzle.userErrCount) + ")") %></td>
                <% if(!contest.type || contest.type != 'championship') {%>
                <td><%= puzzle.userScore ? puzzle.userScore:"" %></td>
                <% } %>
                <% } %>
                <% if(!contest.type || contest.type != 'championship') {%>
                <td>
                  <a href="/archive/<%= puzzle.code %>/scores">
                    <%= puzzle.bestTime %>
                  </a>
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <p class="card-text text-left pt-3">
            <%= __('Click at the puzzle name to solve the selected puzzle.') %>
            <%= __('Puzzles which are older than 5 days are non-competitive and can be attempted without registration.') %><br>
            <%= __('Click at the best solving time value to see the score table for the selected puzzle.') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

