<%- include ('./partials/navbar') %>
<style>
  #contest-results td,th {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 0.75em;
    vertical-align: middle;
    text-align: center;
  }
  #contest-results td.total,th.total {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    vertical-align: middle;
    text-align: left;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="card">
        <% if (typeof contest.logo != "undefined") { %>
        <h1 class="card-header"><img src="<%= contest.logo %>" /></h1>
        <h3 class="card-body"><%- contest.name %></h3>
        <% } else { %>
        <h1 class="card-header"><%- contest.name %></h1>
        <% }%>
        <div class="row card-body">
          <p class="col-10 d-flex flex-row flex-wrap"><%- contest.description %></p>
          <% if (typeof user != 'undefined' && user.role=='admin') { %>
          <div class="col-2 d-flex flex-row-reverse flex-wrap">
            <a class="btn btn-primary" href="/contest/<%= contest.code %>/recount">Recount</a>
          </div>
          <% } %>
        </div>
        <% const puzzleCount = contest.puzzles.filter(p => p.revealDate < new Date()).length; %>
        <% let rowCount = 1; %>
        <% if (puzzleCount > 13) { rowCount = Math.ceil(puzzleCount / 12)}; %>
        <% let puzzlesPerRow = Math.ceil(puzzleCount/rowCount); %>
        <div class="card-body">
          <table class="table table-hover table-condensed table-striped" id="contest-results">
            <tbody>
              <tr>
                <th class="total" <%= rowCount>1?"rowspan="+rowCount:"" %>></th>
                <th class="total" <%= rowCount>1?"rowspan="+rowCount:"" %>><%= __('Total') %></th>
                <% if (typeof user != 'undefined' && user.role=='admin') { %>
                <th <%= rowCount>1?"rowspan="+rowCount:"" %>>
                </th>
                <% } %>
                <% let puzzlesInRow = 0; %>
                <% contest.puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puzzle) { %>
                <% if (puzzle.revealDate < new Date()) { %>
                <th>
                  <a href="/archive/<%= puzzle.puzzleId %>/scores">
                    <%= puzzle.puzzleNum %>
                  </a>
                </th>
                <% puzzlesInRow++; %>
                <% if (puzzlesInRow >= puzzlesPerRow && rowCount > 1) { %>
                </tr>
                <tr>
                <% puzzlesInRow = 0 %>
                <% } %>
                <% } %>
                <% }) %>
              </tr>
              <% var orderNum = 0; %>
              <% contest.results.sort((r1,r2) => r2.score - r1.score).forEach(function(result) { orderNum++; %>
              <tr <%- (user && result.userId.equals(user._id))?"class='bg-info text-dark'":"" %> >
                <td class="total <%= orderNum <=3?'text-success':'' %>" <%= rowCount>1?"rowspan="+rowCount:"" %>>
                  <%= orderNum %>. <%= result.userName %>
                </td>
                <td class="total" <%= rowCount>1?"rowspan="+rowCount:"" %>><%= result.score %></td>
                <% if (typeof user != 'undefined' && user.role=='admin') { %>
                <td <%= rowCount>1?"rowspan="+rowCount:"" %>>
                  <%= result.solvedCount %> puzzles: <%= result.totalTimeStr %> <%= result.errCount > 0?"("+result.errCount+" errors)":"" %>
                </td>
                <% } %>
                <% puzzlesInRow = 0; %>
                <% contest.puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puzzle) { %>
                <% if (puzzle.revealDate < new Date()) { %>
                <% var userRes = puzzle.results.filter(res => res.userId.equals(result.userId)); %>
                <td><%= userRes==0 ? "":userRes[0].score %></td>
                <% puzzlesInRow++; %>
                <% if (puzzlesInRow >= puzzlesPerRow && rowCount > 1) { %>
                </tr>
                <tr>
                <% puzzlesInRow = 0 %>
                <% } %>
                <% } %>
                <% }) %>
              </tr>
              <% }) %>
              <tr>
                <th class="total" <%= rowCount>1?"rowspan="+rowCount:"" %>></th>
                <th class="total" <%= rowCount>1?"rowspan="+rowCount:"" %>><%= __('Total') %></th>
                <% if (typeof user != 'undefined' && user.role=='admin') { %>
                <th <%= rowCount>1?"rowspan="+rowCount:"" %>>
                </th>
                <% } %>
                <% puzzlesInRow = 0; %>
                <% contest.puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puzzle) { %>
                <% if (puzzle.revealDate < new Date()) { %>
                <th>
                  <a href="/archive/<%= puzzle.puzzleId %>/scores">
                    <%= puzzle.puzzleNum %>
                  </a>
                </th>
                <% puzzlesInRow++; %>
                <% if (puzzlesInRow >= puzzlesPerRow && rowCount > 1) { %>
                </tr>
                <tr>
                <% puzzlesInRow = 0 %>
                <% } %>
                <% } %>
                <% }) %>
              </tr>
              <% if (typeof user != 'undefined' && user.role=='admin') { %>
              <tr>
                <td rowspan=<%= rowCount %>></td>
                <td rowspan=<%= rowCount %>></td>
                <td rowspan=<%= rowCount %>>
                </td>
                <% puzzlesInRow = 0; %>
                <% contest.puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puzzle) { %>
                <% if (puzzle.revealDate < new Date() && typeof puzzle.details != 'undefined') { %>
                <td>
                  <%= Math.round(puzzle.details.bestTime/1000) %>(<%= Math.round(puzzle.details.bestScore*10)/10 %>)<br>
                  <%= Math.round(puzzle.details.medianTime/1000) %>(<%= Math.round(puzzle.details.medianScore*10)/10 %>)<br>
                  <%= Math.round(puzzle.details.complexity/10000) %>
                </td>
                <% puzzlesInRow++; %>
                <% if (puzzlesInRow >= puzzlesPerRow && rowCount > 1) { %>
                </tr>
                <tr>
                <% puzzlesInRow = 0 %>
                <% } %>
                <% } %>
                <% }) %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

