<%- include ('./partials/navbar') %>
<style>
  .age-marker {
    border-radius: 50%;
    font-size: 70%;
    padding: 1px;
    display: inline-block;
    width: 1.95em;
    height: 1.95em;
    text-align: center;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class="">Daily puzzles</h1>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <% puzzles.forEach(function(puzzle) { %>
              <tr>
                <td class="p-1">
                  <% if (!puzzle.daily) { %>
                  <a href="/admin/daily/<%= puzzle.code %>/top">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </a>
                  <% } else if (puzzle.daily > new Date()) { %>
                  <a href="/admin/daily/<%= puzzle.code %>/up">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                  <a href="/admin/daily/<%= puzzle.code %>/top">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </a>
                  <% } %>
                </td>
                <td class="<%= puzzle.daily<new Date()?'text-warning':'' %> p-1">
                  <%= puzzle.tag %>
                  <%= puzzle.daily?("("+puzzle.daily.toISOString().split('T')[0]+")"):"" %>
                </td>
                <td class="p-1">
                  <% var visibleAge = Math.ceil(puzzle.publishAge/86400000); %>
                  <a href="/single/<%= puzzle.code %>">
                    <span class="age-marker" style="background-color: hsl(<%= visibleAge?200-visibleAge:"0" %>,100%,50%)"><%= visibleAge?visibleAge:"" %></span>
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                  </a>
                </td>
                <td class="p-1">
                  <a href="/archive/<%= puzzle.code %>/scores">
                    <%= puzzle.time %>
                  </a>
                </td>
                <td class="p-1">
                  <a href="javascript:void(0);" onclick="showPuzzleComments('<%= puzzle.code %>','<%= puzzle.type %><%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>')" >
                  <% if (puzzle.rating && puzzle.rating.rating>0) { %>
                  <%- include ('./partials/rating_span', {rating: puzzle.rating.rating, ratingCount: puzzle.rating.count}) %>
                  <% } %>
                  </a>
                </td>
                <td class="p-1">
                  <%= puzzle.author %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="puzzleComments" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="puzzleCommentsName"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center container-fluid">
        <p id="puzzleCommentsList"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= __('Close') %></button>
      </div>
    </div>
  </div>
</div>
<script>
function showPuzzleComments(puzzleCode, puzzleDesc) {
  $("#puzzleCommentsName").html(puzzleDesc);
  $("#puzzleCommentsList").load("/puzzles/"+puzzleCode+"/comments");
  $("#puzzleComments").modal();
}
</script>
<%- include ('./partials/footer') %>

