<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
          background-color: rgba(238,232,213,0.125);
          border-bottom: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
      </style>
      <div class="card">
        <% if (typeof contest.logo != "undefined") { %>
        <h1 class="card-header"><img src="<%= contest.logo %>" /></h1>
        <% } else { %>
        <h1 class="card-header"><%= contest.name %></h1>
        <% }%>
        <div class="card-body">
          <p><%- contest.description %></p>
          <% if (contest.timeLeft) { %>
          <% var seconds = Math.round(contest.timeLeft/1000); var minutes = Math.round(seconds/60); seconds = seconds%60 %>
            <p class="text-warning"><strong id="duelTimer">
            </strong></p>
            <p class="text-warning"><strong id="opponent">
            </strong></p>
            <script>
              function showTime(time) {
                if (time <= 0) {
                  if (status=='waiting') {
                    status = 'solving';
                    timeLeft = <%= contest.nextDuration %>;
                    timerText = "<%= __('Time till puzzle finish ') %>";
                  } else if (status=='solving') {
                    $('#duelTimer').text("<%= __('Time is over') %>");
                    if (time <= -10000) {
                      location.reload();
                    }
                  } else {
                    location.reload();
                  }
                  return;
                }
                var formatNumber = function(num){
                if (num < 10) return '0' + num.toString();
                  return num.toString();
                }
                var d = Math.round(time/1000);
                var mins = Math.floor(d / 60);
                var secs = d - mins * 60;
                var hours = Math.floor(mins / 60);
                mins = mins - hours * 60;
                hours = hours > 0?formatNumber(hours)+":":"";
                mins = formatNumber(mins) + ":";
                secs = formatNumber(secs);
                $('#duelTimer').text(timerText + hours + mins + secs);
              }

              <% if (contest.puzzleStatus == 'solving') { %>
                var status = 'solving';
              <% } else if (contest.puzzleStatus == 'waiting') { %>
                var status = 'waiting';
              <% } else  { %>
                var status = 'idle';
              <% } %>
              <% if (contest.status == 'registration') { %>
              var timerText = "<%= __('Time till contest start ') %>";
              <% } else if (contest.status == 'going') { %>
              <% if (contest.puzzleStatus == 'waiting') { %>
              var timerText = "<%= __('Time till puzzle start ') %>";
              <% } else if (contest.puzzleStatus == 'solving') { %>
              var timerText = "<%= __('Time till puzzle finish ') %>";
              <% } else { %>
              var timerText = "<%= __('Time till contest finish ') %>";
              <% } %>
              <% } %>

              function readOpponent() {
                $('#opponent').load("/duel/<%= contest.code %>/opponent")
              }

              var timeLeft = <%= contest.timeLeft %>
              $(document).ready(function () {
                showTime(timeLeft);
                setInterval(() => {timeLeft -= 1000; showTime(timeLeft);},1000);
                <% if (contest.status == 'going') { %>
                readOpponent();
                setInterval(readOpponent,20000);
                <% } %>
              })

            </script>
          <% } else { %>
            <p class="text-warning"><strong>
            <% if(contest.status=='finished') { %>
            <%= __('Contest finished at ') %>
            <span id="finishDate"></span>
            <% } else { %>
            <%= __('Contest starts at ') %>
            <span id="startDate"></span>
            <%= __(' and finishes at ') %>
            <span id="finishDate"></span>
            <% } %>
            </strong></p>
            <script>
              $(document).ready(function () {
                var start = new Date("<%= contest.start.toISOString() %>").toLocaleString();
                var finish = new Date("<%= contest.finish.toISOString() %>").toLocaleString();
                $('#startDate').text(start);
                $('#finishDate').text(finish);
              })
            </script>
          <% } %>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <% if(currentPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2 active" data-toggle="tab" href="#current"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;"><%= __('Current puzzle') %></h1></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2" data-toggle="tab" href="#standing"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;"><%= __('Contest info') %></h1></a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2 active" data-toggle="tab" href="#standing"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;"><%= __('Contest info') %></h1></a>
        </li>
        <% } %>
      </ul>
      <div id="myTabContent" class="tab-content">
        <% if(currentPuzzle){ %>
        <div class="tab-pane fade active show" id="current">
          <div class="card" style="border: 0;">
            <% puzzle = currentPuzzle; %>
            <% prefix = ''; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
        <div class="tab-pane fade" id="standing">
        <% } else { %>
        <div class="tab-pane fade active show" id="standing">
        <% } %>
          <div class="card" style="border: 0;">
            <div class="card-body" id="standingPane" style="border: 0;">
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          <% if(currentPuzzle){ %>
          showPuzzle();
          <% } %>
          $('#standingPane').load("/duel/<%= contest.code %>/standing");
          <% if (contest.status=='going'){ %>
          setInterval(() => {$('#standingPane').load("/duel/<%= contest.code %>/standing");},20000);
          <% } %>
        });
      </script>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

