<div class="row">
  <div class="col-sm-4">
    <p class="row"><%= __('Puzzles') %></p>
    <div class="row justify-content-left">
      <div class="col-auto">
        <table class="table table-responsive table-hover table-condensed">
          <tbody>
            <% console.log(puzzles) %>
            <% puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puz) { %>
            <tr>
              <td>
                <%= puz.num %>
              </td>
              <td>
                <% if (puz.revealDate < new Date) { %>
                <a href="/single/<%= puz.code %>">
                <% } %>
                <%= puz.type %>
                <%= puz.dimension?" ("+puz.dimension+")":"" %>
                <% if (puz.revealDate < new Date) { %>
                </a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <% if (contest.status == 'registration') { %>
    <p class="row"><%= __('Here you can see the list of solvers who are already registered for paricipation in the contest') %></p>
    <% } %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive table-bordered table-hover table-condensed">
          <tbody>
            <tr class="table-secondary">
              <th>
              </th>
              <th class="text-center">
                <%= __('Rating') %>
              </th>
              <% if (contest.status != 'registration') { %>
              <th class="text-center">
                <%= __('Contest score') %>
              </th>
              <% } %>
            </tr>
            <% users.sort((u1, u2) => {if (u1.score==u2.score) {return u2.rating - u1.rating;} else {return u2.score - u1.score;}}).forEach(function(user) { %>
            <tr class="table-secondary">
              <td>
                <%= user.name %>
              </td>
              <td class="text-center">
                <%= user.rating > 0?Math.round(user.rating):"" %>
              </td>
              <% if (contest.status != 'registration') { %>
              <td class="text-center">
                <%= user.score %>
              </td>
              <% } %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% if (contest.status == 'registration') { %>
    <div class="d-flex justify-content-between">
      <% if (userData.isRegistered) { %>
      <p class="text-left"><%= __("Press the button if you don't want to participate") %></p>
      <p class="text-left"><a class="btn btn-primary" href="/duel/<%= contest.code %>/unregister"><%= __('Leave') %></a></p>
      <% } else if (user) { %>
      <p class="text-left"><%= __("Presss the button if you want to paricipate") %></p><br>
      <p class="text-left"><a class="btn btn-primary" href="/duel/<%= contest.code %>/register"><%= __('Enroll') %></a></p>
      <% } else { %>
      <p class="text-info"><%- __('You should <a href="/users/login">Login</a> first to be able to register for participation') %></p>
      <% }%>
    </div>
    <% } %>
  </div>
</div>

