<style>
  .tooltip-inner {
    white-space:pre-wrap;
    text-align:left;
    line-height: 120%;
    font-family: verdana;
    font-size: small;
  }
</style>
<div class="row">
  <div class="col-sm-3">
    <h3 class="row justify-content-center"><%= __('Puzzles') %></h3>
    <div class="row justify-content-left">
      <div class="col-auto">
        <table class="table table-responsive table-condensed">
          <tbody>
            <% puzzles.sort((p1, p2) => p1.puzzleNum - p2.puzzleNum).forEach(function(puz) { %>
            <tr class="table <%= (contest.status=='active' && puz.num==contest.lastPuzzleNum)?"table-active":"" %>">
              <td>
                <%= puz.num %>
              </td>
              <td>
                <% if (puz.revealDate < new Date) { %>
                <a href="javascript:void(0);" onclick="showRoundResults('<%= puz.num %>','<%= puz.code %>','<%= puz.type %><%= puz.dimension?" ("+puz.dimension+")":"" %>')" >
                <% } %>
                <%= puz.type %>
                <%= puz.dimension?" ("+puz.dimension+")":"" %>
                <% if (puz.revealDate < new Date) { %>
                </a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <% if (contest.status == 'registration') { %>
    <p class="row"><%= __('Here you can see the list of solvers who are already registered for paricipation in the contest') %></p>
    <% } else {%>
    <h3 class="row justify-content-center"><%= __('Results') %></h3>
    <% } %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive table-bordered table-hover table-condensed">
          <tbody>
            <tr class="table">
              <th>
              </th>
              <th class="text-center">
                <%= __('Rating') %>
              </th>
              <% if (contest.status != 'registration') { %>
              <th class="text-center">
                <%= __('Contest score') %>/<%= __('Tie-break score') %>
              </th>
              <% } %>
            </tr>
            <% function resultCompare(r1, r2) { %>
            <% if (r1.score != r2.score) return r2.score - r1.score; %>
            <%if (r1.tiebreakScore != r2.tiebreakScore) return r2.tiebreakScore - r1.tiebreakScore; %>
            <% return r2.rating - r1.rating; } %>
            <% users.sort(resultCompare).forEach(function(u) { %>
            <tr class="table <%= u.id.equals(user._id)?"table-active":"" %>">
              <td>
                <%= u.name %>
              </td>
              <td class="text-center">
                <%= u.rating > 0?Math.round(u.rating):"" %>
              </td>
              <% if (contest.status != 'registration') { %>
              <td class="text-center">
                <span data-toggle="tooltip" title="<%= u.seedDetails %>">
                <%= u.score %>
                <% if (u.scoreSum) { %>
                (<% for(var num=1; num<=contest.lastPuzzleNum; num++) { %><%= num>1?"+":"" %><%= u.scoreSum[num.toString()]?u.scoreSum[num.toString()]:0 %><% } %>)
                <% } %>
                / <%= u.tiebreakScore %>
                </span>
              </td>
              <% } %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% if (contest.status == 'registration') { %>
    <div class="d-flex justify-content-between">
      <% if (userData.isRegistered) { %>
      <p class="text-left"><%= __("Press the button if you don't want to participate") %></p>
      <p class="text-left"><a class="btn btn-primary" href="/duel/<%= contest.code %>/unregister"><%= __('Leave') %></a></p>
      <% } else if (user) { %>
      <p class="text-left"><%= __("Presss the button if you want to paricipate") %></p><br>
      <p class="text-left"><a class="btn btn-primary" href="/duel/<%= contest.code %>/register"><%= __('Enroll') %></a></p>
      <% } else { %>
      <p class="text-info"><%- __('You should <a href="/users/login">Login</a> first to be able to register for participation') %></p>
      <% }%>
    </div>
    <% } %>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({placement: "auto"});
  });
  function showRoundResults(num, puzzleCode, puzzleDesc) {
    $("#roundResultsNum").text(num);
    $("#roundPuzzleName").html(puzzleDesc);
    $("#roundPuzzleLink").attr("href", "/single/"+puzzleCode);
    $("#roundResultsTable").load("/duel/<%= contest.code%>/results/"+num);
    $("#roundResults").modal();
  }
</script>

