<%- include ('./partials/navbar') %>
<div class=container>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card">
        <h1 class="card-header text-center mb-3">Change user data
        </h1>
        <form class="card-body" action="/users/edit" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter New Name"
              autocomplete="nickname"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">New email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter New Email"
              autocomplete="email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input
              type="text"
              id="country"
              class="form-control"
              autocomplete="country"
              placeholder="Choose the country"
            />
            <input
              type="hidden"
              id="country_code"
              name="country"
              value="<%= typeof country != 'undefined' ? country : '' %>"
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <div class="input-group" id="show_hide_password">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter New Password"
                autocomplete="new-password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
              <div class="input-group-addon">
                <a href="" class="align-middle"><i class="pl-2 fa fa-eye-slash align-middle" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password2">Confirm New Password</label>
            <div class="input-group" id="show_hide_password2">
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder="Confirm New Password"
                autocomplete="new-password"
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              />
              <div class="input-group-addon">
                <a href="" class="align-middle"><i class="pl-2 fa fa-eye-slash align-middle" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="oldpassword">Current Password</label>
            <div class="input-group" id="show_hide_passwordold">
              <input
                type="password"
                id="oldpassword"
                name="oldpassword"
                class="form-control"
                placeholder="Enter Current Password"
                autocomplete="current-password"
                value="<%= typeof oldpassword != 'undefined' ? oldpassword : '' %>"
              />
              <div class="input-group-addon">
                <a href="" class="align-middle"><i class="pl-2 fa fa-eye-slash align-middle" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var countryData = $.fn.countrySelect.getCountryData();
    countryData.push({name: "", iso2: "-"})
    $.fn.countrySelect.setCountryData(countryData);
    $("#country").countrySelect({
      defaultCountry: "-",
      preferredCountries: [],
      responsiveDropdown:true
    });
    <% if (typeof country != 'undefined') { %>
      $("#country").countrySelect("selectCountry", "<%= country %>")
    <% } %>
    $("#show_hide_password a").on('click', function(event) {
      event.preventDefault();
      if($('#show_hide_password input').attr("type") == "text"){
        $('#show_hide_password input').attr('type', 'password');
        $('#show_hide_password i').addClass( "fa-eye-slash" );
        $('#show_hide_password i').removeClass( "fa-eye" );
      }else if($('#show_hide_password input').attr("type") == "password"){
        $('#show_hide_password input').attr('type', 'text');
        $('#show_hide_password i').removeClass( "fa-eye-slash" );
        $('#show_hide_password i').addClass( "fa-eye" );
      }
    });
    $("#show_hide_password2 a").on('click', function(event) {
      event.preventDefault();
      if($('#show_hide_password2 input').attr("type") == "text"){
        $('#show_hide_password2 input').attr('type', 'password');
        $('#show_hide_password2 i').addClass( "fa-eye-slash" );
        $('#show_hide_password2 i').removeClass( "fa-eye" );
      }else if($('#show_hide_password2 input').attr("type") == "password"){
        $('#show_hide_password2 input').attr('type', 'text');
        $('#show_hide_password2 i').removeClass( "fa-eye-slash" );
        $('#show_hide_password2 i').addClass( "fa-eye" );
      }
    });
    $("#show_hide_passwordold a").on('click', function(event) {
      event.preventDefault();
      if($('#show_hide_passwordold input').attr("type") == "text"){
        $('#show_hide_passwordold input').attr('type', 'password');
        $('#show_hide_passwordold i').addClass( "fa-eye-slash" );
        $('#show_hide_passwordold i').removeClass( "fa-eye" );
      }else if($('#show_hide_passwordold input').attr("type") == "password"){
        $('#show_hide_passwordold input').attr('type', 'text');
        $('#show_hide_passwordold i').removeClass( "fa-eye-slash" );
        $('#show_hide_passwordold i').addClass( "fa-eye" );
      }
    });
  })
</script>
