<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 m-auto">
      <%- include ('./partials/messages') %>
      <% if(puzzle){ %> 
        <div class="card">
          <%- include ('./partials/puzzleedit') %>
          <a class="text-right pb-2" href="/single/<%= puzzle.code %>">Open solving window</a>
          <a class="text-right pb-2" href="#" onclick="copyId()" id="copyId">Copy ID</a>
        </div>
        <% if(times) { %>
        <div class="card">
          <h3 class="card-body">Solving times</h3>
          <div class="card-body">
            <table class="table table-hover table-condensed">
              <tbody>
                <% times.forEach(function(time) { %>
                <tr>
                  <td><%= time.userName %></td>
                  <td><%= time.time %></td>
                  <td><%= time.errors==0 ? "" : (time.errors == 1 ? "1 error" : (time.errors + " errors")) %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <% } %>
        <script>
          $(document).ready(function () {
            showPuzzle();
          });
          function copyId() {
            if(typeof navigator == "undefined" || typeof navigator.clipboard == "undefined"  || typeof navigator.clipboard.writeText == "undefined") {
              alert("Puzzle Id = <%= puzzle.code %>")
            } else {
              navigator.clipboard.writeText("<%= puzzle.code %>");
              $("#copyId").text("Copied: <%= puzzle.code %>");
            }
          }
        </script>
      <% } %>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

