<%- include ('./partials/navbar') %>
<style>
   @media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }
    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
        <h1 class="card-header"><%= __('Example puzzles') %></h1>
        <div class="card-body">
          <p>
            <%= __('List examples text') %>
          </p>
          <div class="accordion" id="mainAccordion">
            <% var prevCategory = null; %>
            <% function comparePuzzles(p1, p2) {
              if (p1.category==p2.category) {
                return p1.type.localeCompare(p2.type);
              } else {
                return p1.category.localeCompare(p2.category);
              }
            } %>
            <% puzzles.sort((p1,p2) => comparePuzzles(p1, p2)).forEach(function(puzzle) { %>
            <% if (puzzle.category != prevCategory) { %>
            <% if (prevCategory!=null) { %>
                  </tbody>
                </table>
              </div>
            </div>
            <% } %>
            <div class="card">
              <div class="card-header" id="<%= puzzle.category.substr(3) %>Heading">
                <button class="btn btn-link btn-xs-block" type="button"
                  data-toggle="collapse" data-target="#<%= puzzle.category.substr(3) %>Collapse"
                  aria-expanded="true" aria-controls="<%= puzzle.category.substr(3) %>Collapse"
                >
                  <h2><%= __(puzzle.category.substr(3)) %></h2>
                </button>
              </div>
              <div id="<%= puzzle.category.substr(3) %>Collapse" class="collapse <%= prevCategory==null?"show":"" %>" aria-labelledby="<%= puzzle.category.substr(3) %>Heading" data-parent="#mainAccordion">
                <table class="card-body table table-hover table-condensed ml-5">
                  <tbody>
            <% } %>
            <% prevCategory = puzzle.category; %>
                    <tr>
                      <td>
                        <a href="/single/<%= puzzle.code %>">
                          <%= puzzle.type %>
                          <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
                        </a>
                      </td>
                    </tr>
            <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('.collapse').on('shown.bs.collapse', function(e) {
      var $card = $(this).closest('.card');
      $('html,body').animate({scrollTop: $card.offset().top},500);
    });
  });
</script>
<%- include ('./partials/footer') %>

