<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <h1 class="card-header"><%= __('Example puzzles') %></h1>
        <div class="card-body">
          <p>
            <%= __('List examples text') %>
          </p>
          <div class="accordion" id="mainAccordion">
            <% var prevCategory = null; %>
            <% function comparePuzzles(p1, p2) {
              if (p1.category==p2.category) {
                return p1.type.localeCompare(p2.type);
              } else {
                return p1.category.localeCompare(p2.category);
              }
            } %>
            <% puzzles.sort((p1,p2) => comparePuzzles(p1, p2)).forEach(function(puzzle) { %>
            <% if (puzzle.category != prevCategory) { %>
            <% if (prevCategory!=null) { %>
                  </tbody>
                </table>
              </div>
            </div>
            <% } %>
            <div class="card">
              <div class="card-header" id="<%= puzzle.category.substr(3) %>Heading">
                <button class="btn btn-link" type="button"
                  data-toggle="collapse" data-target="#<%= puzzle.category.substr(3) %>Collapse"
                  aria-expanded="true" aria-controls="<%= puzzle.category.substr(3) %>Collapse"
                >
                  <h2><%= __(puzzle.category.substr(3)) %></h2>
                </button>
              </div>
              <div id="<%= puzzle.category.substr(3) %>Collapse" class="collapse <%= prevCategory==null?"show":"" %>" aria-labelledby="<%= puzzle.category.substr(3) %>Heading" data-parent="#mainAccordion">
                <table class="card-body table table-hover table-condensed ml-5">
                  <tbody>
            <% } %>
            <% prevCategory = puzzle.category; %>
                    <tr>
                      <td>
                        <a href="/single/<%= puzzle.code %>">
                          <%= puzzle.type %>
                          <%= puzzle.dimension?" ("+puzzle.dimension+")":"" %>
                        </a>
                      </td>
                    </tr>
            <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

