<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="card">
        <h1 class="card-header">Instant rating</h1>
        <div class="card-body">
          <table class="table table-hover table-condensed table-striped table-responsive">
            <tbody>
              <tr>
                <th class="p-1"></th>
                <th class="p-1"></th>
                <th class="p-1"></th>
                <th class="p-1">Avg</th>
                <% dates.forEach(function(d) { %>
                <th class="p-1">
                  <%= d.toISOString().split('T')[0] %>
                </th>
                <% }) %>
              </tr>
              <% data.sort((r1,r2) => r2.avg - r1.avg).forEach(function(item) { %>
              <tr>
                <td class="p-1"><%= item.userName %></td>
                <td class="p-1"><%= item.userCountry %>(<%= item.ipCountries.join(", ") %>)</td>
                <td class="p-1"><%= item.userAddress %></td>
                <td class="p-1"><%= Math.round(item.avg) %></td>
                <% dates.forEach(function(d) { %>
                <td class="p-1"><%= item[d]?Math.round(item[d]):"" %></td>
                <% }) %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

