<!DOCTYPE html> 
<html lang="<%= getLocale() %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% if(typeof og_attributes!="undefined") { %>
    <meta property="og:title" content="<%= og_attributes.title %>" /> 
    <meta property="og:description" content="<%= og_attributes.description %>" />
    <meta property="og:image" content="<%= og_attributes.image %>" />
    <% } else { %>
    <meta property="og:title" content="Puzzle Duel: a new puzzle every day" /> 
    <meta property="og:description" content="Solve the new puzzles every day and compete with the top world solvers." />
    <meta property="og:image" content="/images/logo_extended.png" />
    <% } %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <% if (theme=="contrast") { %>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <% } else if (theme=="white") { %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <% } else { %>
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css"/>
    <% } %>
    <link rel="stylesheet" href="/css/rateit.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/countrySelect.css">
    <style>
      html {font-size: 100%;}
      svg text {cursor: default;}
      .text-muted {
         opacity: 0.3;
      }
    </style>
    <title>Puzzle duel</title>
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"
      integrity="sha256-oI+elz+sIm+jpn8F/qEspKoKveTc5uKeFHNNVexe6d8="
      crossorigin="anonymous"
    ></script>
    <script src="/js/countrySelect.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
      integrity="sha256-1fEPhSsRKlFKGfK3eO710tEweHh1fwokU5wFGDHO+vg="
      crossorigin="anonymous"
    ></script>
    <script src="/js/jquery.rateit.js"></script>
    <script>
      requirejs.config({baseUrl: '/js'});
      require( ["base", "grid", "chooser", "mouse", "controller_helper", "square", "hexa"] );
    </script>
    <%- body %>
  </body>
</html>
