<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class=""><%= name %>
          </h1>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed table-striped">
            <tbody>
              <tr>
              </tr>
              <% let allSetting = {} %>
              <% allSetting["Red League"] = {top: 3, bottom: 15, topStyle: 'color: DeepPink;', bottomStyle: 'color: OrangeRed;', mainStyle: 'color: Crimson;', code: '3bxc1wolfgm8dof', next: 'Orange League' } %>
              <% allSetting["Orange League"] = {top: 5, bottom: 23, topStyle: 'color: OrangeRed;', bottomStyle: 'color: GoldenRod;', mainStyle: 'color: DarkOrange;', code: '3bxc1wolfgm8dpe', prev: 'Red League', next: 'Yellow League' } %>
              <% allSetting["Yellow League"] = {top: 7, bottom: 30, topStyle: 'color: DarkOrange;', bottomStyle: 'color: DarkKhaki;', mainStyle: 'color: GoldenRod;', code: '3bxc1wolfgm8dqf', prev: 'Orange League', next: 'Green League' } %>
              <% allSetting["Green League"] = {top: 10, bottom: 40, topStyle: 'color: DarkKhaki;', bottomStyle: 'color: DarkCyan;', mainStyle: 'color: Green;', code: '3bxc1wolfgm8dr8', prev: 'Yellow League', next: 'Blue League' } %>
              <% allSetting["Blue League"] = {top: 10, bottom: 50, topStyle: 'color: DarkCyan;', bottomStyle: 'color: DodgerBlue;', mainStyle: 'color: DodgerBlue;', code: '3bxc1wolfgm8ds3', prev: 'Green League' } %>
              <% allSetting["Indigo League"] = {top: 10, bottom: 60, topStyle: 'color: DodgerBlue;', bottomStyle: 'color: Violet;', mainStyle: 'color: Indigo;' } %>
              <% allSetting["Violet League"] = {top: 10, bottom: 70, topStyle: 'color: Indigo;', bottomStyle: 'color: Grey;', mainStyle: 'color: Violet;' } %>
              <% let setting = allSetting[name] %>
              <% let index = 0  %>
              <% results.sort((r1,r2) => {  %>
              <%   return (r1.solvedCount == r2.solvedCount)?(r1.totalTime - r2.totalTime):(r2.solvedCount - r1.solvedCount);  %>
              <% }).forEach(function(result) { %>
              <% let style = setting.mainStyle %>
              <% if (index < setting.top ) style = setting.topStyle %>
              <% if (index >= setting.bottom ) style = setting.bottomStyle %>
              <tr style='<%= style %>' >
                <td><%= result.userName %></td>
                <td>
                  <%= result.solvedCount %>
                </td>
                <td>
                  <%= result.showTime %>
                </td>
              </tr>
              <% index++ %>
              <% }) %>
            </tbody>
          </table>
          <%= __('League ranking based on the number of daily puzzles of the month solved during the month without error submissions. The totol solving time is considered as an additional ranking parameter.') %>
          <br>
          <% if (name != "Red League") {%>
          <% let prev = allSetting[setting.prev] %>
          <%= setting.top %><%= __(' top solvers after end of the month will be promoted to ') %><a href='/league/<%= prev.code %>/<%= date %>'><%= setting.prev %></a>
          <br>
          <% } %>
          <% if (name != "Blue League") {%>
          <% let next = allSetting[setting.next] %>
          <%= results.length - setting.bottom %><%= __(' bottom solvers after end of the month will be downgraded to ') %><a href='/league/<%= next.code %>/<%= date %>'><%= setting.next %></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

