<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class=""><%= name %>
          </h1>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed table-striped">
            <tbody>
              <tr>
                <td></td>
                <td class="d-none d-sm-table-cell text-center align-baseline">
                  <%= __('Solved correctly') %>
                </td>
                <td class="d-none d-sm-table-cell text-center align-baseline">
                  <%= __('Total solved / time') %>
                </td>
              </tr>
              <% let setting = leagueSettings[code] %>
              <% let index = 0  %>
              <% let sorting = function(r1, r2) {  %>
              <%   if (r1.solvedCount != r2.solvedCount) return r2.solvedCount - r1.solvedCount; %>
              <%   if (r1.totalSolvedCount != r2.totalSolvedCount) return r2.totalSolvedCount - r1.totalSolvedCount; %>
              <%   return r1.totalTime - r2.totalTime; %>
              <% }  %>
              <% results.sort(sorting).forEach(function(result) { %>
              <% let style = setting.mainStyle %>
              <% if (index < setting.top ) style = setting.topStyle %>
              <% if (index >= setting.bottom ) style = setting.bottomStyle %>
              <tr style='<%= style %>' >
                <td><%= result.userName %></td>
                <td class="text-center">
                  <%= result.solvedCount %>
                </td>
                <td class="d-none d-sm-table-cell text-center">
                  <%= result.totalSolvedCount %>
                  <%= result.showTime==0?"":(" / " + result.showTime) %>
                </td>
              </tr>
              <% index++ %>
              <% }) %>
            </tbody>
          </table>
          <%= __('League ranking based on the number of daily puzzles of the month solved during the month without error submissions. The totol solving time is considered as an additional ranking parameter.') %>
          <br>
          <% let prev = leagueSettings[setting.prev] %>
          <% if (prev) {%>
          <%= setting.top %><%= __(' top solvers after end of the month will be promoted to ') %><a href='/league/<%= setting.prev %>/<%= date %>'><%= prev.name %></a>
          <br>
          <% } %>
          <% let next = leagueSettings[setting.next] %>
          <% if (next) {%>
          <%= results.length - setting.bottom %><%= __(' bottom solvers after end of the month will be downgraded to ') %><a href='/league/<%= setting.next %>/<%= date %>'><%= next.name %></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

