<% if(comments.length > 0){ %>
<strong><%= __('Solvers comments:') %></strong>
<table class="table table-condensed text-left">
  <tbody>
    <% const compare = function(c1, c2) { %>
    <%   if (c1.rootDate == c2.rootDate) {  %>
    <%     if (c1.replyTo && !c2.replyTo) {  %>
    <%       return 1; %>
    <%     } else if (!c1.replyTo && c2.replyTo) {  %>
    <%       return -1; %>
    <%     } else { %>
    <%       if (c1.date < c2.date) { %>
    <%         return -1; %>
    <%       } else if (c1.date > c2.date) { %>
    <%         return 1; %>
    <%       } else { %>
    <%         return 0; %>
    <%       } %>
    <%     } %>
    <%   } else if (c1.rootDate < c2.rootDate) { %>
    <%     return -1; %>
    <%   } else { %>
    <%     return 1; %>
    <%   } %>
    <% } %>
    <% let lastRoot = null; %>
    <% comments.sort(compare).forEach(comment => { %>
    <tr>
        <% if (!comment.replyTo && comment.comment != "") { %>
        <% if (lastRoot) { %>
      <td class="p-0 border-0">
        <div replyTo="<%= lastRoot %>" class="reply">
        <button type="button" class="replyBtn badge bg-info"><%= __('Reply') %></button>
        </div>
      </td>
    </tr>
    <tr>
        <% } %>
        <% lastRoot = comment.id  %>
        <% } %>
      <% if(showAll){ %>
      <td class="p-0">
        <%= comment.userName %>
      </td>
      <td class="p-0">
        <%= comment.rating>0?comment.rating:"" %>
      </td>
      <% } %>
      <td class="p-0 border-0">
        <div class="<%= comment.replyTo ? 'ml-3 pt-2 pl-3 border-left' : 'pt-3 pl-1' %>" >
          <% if (comment.replyTo) { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
          </svg>
          <% } %>
          <%= comment.comment %>
        </div>
      </td>
    </tr>
    <% }) %>
    <% if (lastRoot) { %>
    <tr>
      <td class="p-0 border-0">
        <div replyTo="<%= lastRoot %>" class="reply">
        <button type="button" class="replyBtn badge bg-info"><%= __('Reply') %></button>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else { %>
<strong><%= __('Nobody left comments for this puzzle') %></strong>
<% } %>
<script>
  $(document).ready(function () {
    $('.replyBtn').click(function(event) {
      let target = $(event.target).closest('.reply')
      if (target.children('.reply-form').length > 0 ) {
        target.children('.reply-form').remove();
      } else {
        let replyTo = target.attr('replyTo');
        let textArea = '<textarea id="replyText'+replyTo+'" style="min-width: 100%"></textarea>';
        let button = '<button id="replyTo'+replyTo+'" class="badge bg-primary" disabled><%= __("Send") %></button>';
        target.append('<div class="reply-form text-right">'+textArea+button+'</div>');
        $('#replyText'+replyTo).on('input', function() {
          $('#replyTo'+replyTo).prop('disabled', $('#replyText'+replyTo).val().length == 0)
        })
        $('#replyTo'+replyTo).click(function(){
          var commentData = {
            replyTo: replyTo,
            comment: $('#replyText'+replyTo).val()
          }
          $.post("/puzzles/<%= puzzleId %>/comment", commentData);
          $("#puzzleComments").modal('hide');
        })
      }
    })
  });
</script>
