<%- include ('./partials/navbar') %>
<style>
  .stars {
     display: inline-block;
     background-color: goldenRod;
     top: 0;
     left: 0;
     height: 15px;
     mask-image: url(/images/star.png);
     mask-repeat: repeat-x;
     mask-size: 15px 15px;
     -webkit-mask-image: url(/images/star.png);
     -webkit-mask-repeat: repeat-x;
     -webkit-mask-size: 15px 15px;
   }
</style>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({placement: "auto"});
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <h1 class="card-body pb-0"><%= set.name %>
          <% if (set.authorId.equals(user._id)) { %>
          <a href="#" id="editButton">
             <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <div class="modal" id="editModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit title of the set</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/puzzleset/<%= set.code %>/edit" method="post">
                    <div class="form-group pr-4 pb-2">
                      <label class="col-form-label pr-1" for="editlabel">Title</label>
                      <input class="form-control" id="editlabel" value="<%= set.name %>" name="name">
                    </div>
                    <div class="form-group pr-4 pb-2">
                      <label class="col-form-label pr-1" for="editdesc">Description</label>
                      <textarea class="form-control" rows=8 id="editdesc" name="description"><%- set.description %></textarea>
                    </div>
                    <div class="form-group pr-4 pb-2">
                      <button type="submit" id="editSet" class="btn btn-primary">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <script>
            $("#editButton").click(() => $("#editModal").modal());
          </script>
          <% } %>
        </h1>
        <p class="card-body text-right pb-0 pt-0 mb-0"><small><%= __('Compiler:') %> <a href="/help/authors#<%= set.authorId %>"><%= set.author %></a></small></p>
        <div class="card-body">
          <%- set.description %>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed table-responsive table-borderless">
            <tbody>
              <tr>
                <th><%= __('#') %></th><th><%= __('Puzzle') %></th>
              </tr>
              <% puzzles.sort((puzzle1, puzzle2) => puzzle1.num - puzzle2.num).forEach(function(puzzle) { %>
              <tr>
                <td>
                  <%= puzzle.num %>
                  <% if (set.authorId.equals(user._id) && puzzle.num > 1) { %>
                  <a href="/puzzleset/<%= set.code %>/up/<%= puzzle.code %>">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                  <% } %>
                </td>
                <td>
                  <% var stars=puzzle.difficulty>0?(1+Math.round(10*Math.log(puzzle.difficulty/30000))/10):0; %>
                  <a href="/single/<%= puzzle.code %>">
                    <%= puzzle.type %>
                    <%= puzzle.dimension?" ("+puzzle.dimension+")":"" %>
                    <span class="stars" style="width: calc(15px * <%= stars %>)" data-toggle="tooltip" title="<%= stars %>">
                    </span>
                  </a>
                </td>
                <% if (set.authorId.equals(user._id)) { %>
                <td>
                  <a href="/puzzleset/<%= set.code %>/delete/<%= puzzle.code %>">
                    <span class="glyphicon glyphicon-minus"></span>
                  </a>
                </td>
                <% } %>
              </tr>
              <% }) %>
              <% if (set.authorId.equals(user._id)) { %>
              <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                  <a href="#" id="addButton">
                    <span class="glyphicon glyphicon-plus"></span>
                  </a>
                  <div class="modal" id="addModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add puzzle to the set</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body">
                          <div class="form-inline">
                            <div class="form-group pr-4 pb-2">
                              <label class="col-form-label pr-1" for="addId">Puzzle Id</label>
                              <input class="form-control" id="addId">
                            </div>
                            <div class="form-group pr-4 pb-2">
                              <button type="submit" id="addPuzzle" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <script>
                $("#addButton").click(() => $("#addModal").modal());
                $("#addPuzzle").click(function () {
                  var id = $("#addId").val();
                  var url = "/puzzleset/<%= set.code %>/add/" + id;
                  window.location = url;
                });
              </script>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

