<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({placement: "auto"});
  });
</script>
<style>
  .tooltip-inner {
    white-space:pre-wrap;
    text-align:left;
    line-height: 120%;
    font-family: verdana;
    font-size: small;
  }
  .league-marker {
    border-radius: 50%;
    font-size: 70%;
    padding: 1px;
    margin-right: 5px;
    display: inline-block;
    width: 1.55em;
    height: 1.55em;
    text-align: center;
    color: black;
  }
</style>
<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <h1 class=""><%= __('Solvers Rating') %> <%= ratingFinal?"":__('(preliminary)') %>
          </h1>
          <div class="p-2 align-bottom text-right" style="position: relative;">
            <h2>
              <%= ratingDate.toISOString().split('T')[0] %>
              <a class="btn" data-toggle="collapse" href="#choosedate" aria-expanded="false" aria-controls="Collapse">
                <span class="glyphicon glyphicon-collapse-down"></span>
              </a>
            </h2>
            <div class="collapse bg-light"
                 style="position: absolute; top: 45px; left: -30px; z-index: 100;" id="choosedate">
              <div class="card card-body">
                <div id="datepicker" data-date="<%= ratingDate.toISOString().split('T')[0] %>"></div>
                <button type="submit" id="setDate" class="btn btn-primary"><%= __('Set') %></button>
              </div>
            </div>
            <script>
              $(document).ready(function () {
                $('#datepicker').datepicker({
                  format: "yyyy-mm-dd",
                  startDate: "2020-04-01",
                  endDate: "+7d",
                  language: '<%= getLocale() %>',
                  maxViewMode: "month"
                });
              });
              $("#setDate").click(function () {
                var url="/rating/" + $('#datepicker').datepicker('getFormattedDate');
                window.location = url;
              });
            </script>
          </div>
        </div>
        <% if (typeof user != 'undefined' && user.role=='admin') { %>
        <div class="row card-body">
          <div class="col-2 d-flex flex-row-reverse flex-wrap">
            <a class="btn btn-primary" href="/rating/<%= ratingDate.toISOString().split('T')[0] %>/recount">Recount</a>
          </div>
        </div>
        <% } %>
        <div class="card-body">
          <table class="table table-hover table-condensed table-striped">
            <tbody>
              <tr>
                <th class="text-left align-baseline">
                  <% if(sortColumn != "name") { %>
                  <a class="btn" href="?sort=name">
                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                  </a>
                  <% } %>
                </th>
                <th class="text-center align-baseline">
                  <%= __('Success rate') %>
                  <% if(sortColumn != "success") { %>
                  <a class="btn" href="?sort=success">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                  </a>
                  <% } %>
                </th>
                <th class="text-center align-baseline">
                  <%= __('Rating') %>
                  <% if(sortColumn != "rating") { %>
                  <a class="btn" href="?sort=rating">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                  </a>
                  <% } %>
                </th>
                <th class="d-none d-sm-table-cell text-center align-baseline">
                  <%= __('Weekly change') %>
                  <% if(sortColumn != "change") { %>
                  <a class="btn" href="?sort=change">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                  </a>
                  <% } %>
                </th>
              </tr>
              <% function rate(ratingObj) { return Math.round(ratingObj.totalStarted==0?0:ratingObj.totalSolved/ratingObj.totalStarted*100); }%>
              <% function isCurrent(ratingObj) { if (user){ return ratingObj.userId.equals(user._id);  } else { return false; } } %>
              <% ratings.sort((r1,r2) => {  %>
              <%   if (sortColumn=='success') {return (rate(r2) == rate(r1))?(Math.round(r2.value) - Math.round(r1.value)):(rate(r2) - rate(r1));}
                   else if (sortColumn=='change') {return (Math.round(r2.change) == Math.round(r1.change))?(Math.round(r2.value) - Math.round(r1.value)):(Math.round(r2.change) - Math.round(r1.change));}
                   else if (sortColumn=='name') {return r1.userName.localeCompare(r2.userName);}
                   else {return (Math.round(r2.value)==Math.round(r1.value))?(rate(r2) - rate(r1)):(Math.round(r2.value) - Math.round(r1.value));}  %>
              <% }).forEach(function(rating) { %>
              <tr <%- rating.missedWeek>2?"class='text-muted'":(isCurrent(rating)?"class='bg-info text-dark'":"") %> >
                <td>
                  <% var league = leagueSettings[rating.userLeague] || {markerStyle: "", name: ""} %>
                  <a class="league-marker" style="<%= league.markerStyle %>"
                     href="/league/<%= rating.userLeague %>/<%= new Date().toISOString().substring(0,10) %>" >
                    <%= league.name.charAt(0) %>
                  </a>
                  <a href="/userstat/<%= rating.userId %>"><%= rating.userName %></a>
                </td>
                <td class="text-center" data-toggle="tooltip" title="<%= rating.totalSolved + "/" +  rating.totalStarted %>">
                  <%= rate(rating) %>%
                </td>
                <td class="text-center"><%= Math.round(rating.value) %></td>
                <td class="d-none d-sm-table-cell text-center <%= rating.change < 0?'text-warning':(rating.change > 0?'text-success':'')%>">
                  <span data-toggle="tooltip" title="<%= rating.details %>">
                  <%= rating.change?Math.round(rating.change):"-" %>
                  </span>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <%= __('See the rating computation rules at ') %><a href="/help"><%= __('help page') %></a>.
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

