<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 m-auto">
      <% if(puzzle){ %> 
        <% prefix = ''; %>
        <div class="card">
          <div class="card-header">
          <div class="d-flex flex-row flex-wrap justify-content-between">
            <% if(typeof puzzle.tag != 'undefined') { %>
            <%   if(puzzle.tag.includes("daily")) { %>
            <h1><%= __('Daily puzzle') %> (<%= puzzle.daily?puzzle.daily.toISOString().split('T')[0]:"" %>)</h1>
            <%   } else if (puzzle.tag.includes("example")) { %>
            <h1><%= __('Example puzzle') %></h1>
            <%   } else if(puzzle.tag.includes("contest")) { %>
            <h1><a href="/contest/<%= puzzle.contest.contestId %>"><%= puzzle.contest.name %></a> (<%= puzzle.contest.puzzleDate?puzzle.contest.puzzleDate.toISOString().split('T')[0]:"" %>)</h1>
            <%   } %>
            <% } %>
            <div class="align-bottom text-right" style="position: relative;">
              <% if(typeof puzzle.tag != 'undefined') { %>
              <%   if(puzzle.tag.includes("daily") || puzzle.tag.includes("contest")) { %>
              <a class="align-bottom text-right" style="position: relative;" href="/archive/<%= puzzle.code %>/scores"><%= __('Scores') %></a>
              <%   } else if (puzzle.tag.includes("example")) { %>
              <a data-toggle="collapse" href="#answer" aria-expanded="false" aria-controls="Collapse">
                <span><%= __('Show answer') %></span>
              </a>
              <div class="collapse bg-secondary text-white"
                   style="position: absolute; top: 45px; left: -50px; z-index: 100;" id="answer">
                <div class="card card-body">
                  <img src="<%= puzzle.answerImg %>" width="180">
                </div>
              </div>
              <%   } %>
              <% } %>
            </div>
          </div>
            <div>
              <% if (puzzle.difficulty) { %>
              <% var stars=puzzle.difficulty>0?(1+Math.round(10*Math.log(puzzle.difficulty/30000))/10):0; %>
              <span>
                <%= __('Difficulty:') %>
                <span class="stars mr-4" style="width: calc(15px * <%= stars %>)" data-toggle="tooltip" title="<%= stars %>"></span>
              </span>
              <% } %>
              <% if (puzzle.rating && puzzle.rating.rating>0) { %>
              <span class="mr-4">
              <%= __('Rating:') %>
              <%- include ('./partials/rating_span', {rating: puzzle.rating.rating, ratingCount: puzzle.rating.count}) %>
              </span>
              <% } %>
              <% if (puzzle.showComments) { %>
              <span>
                <a href="javascript:void(0);" onclick="showPuzzleComments('<%= puzzle.code %>','<%= puzzle.type.name %><%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>')" >
                    <%= __('Comments') %>
                </a>
              </span>
              <% } %>
            </div>
          </div>
          <% if(typeof puzzle.tag != 'undefined' && puzzle.tag.includes("example")) { %>
          <div class="card-body">
            <%= __('Sinlge example text') %>
          </div>
          <% } %>

          <%- include ('./partials/puzzle') %>
        </div>
        <script>
          $(document).ready(function () {
            showPuzzle();
            <% if (autoStart) { %>
            showPuzzle(true);
            <% } else { %>
            showPuzzle();
            <% } %>
          });
        </script>
      <% } %>
    </div>
  </div>
</div>
<div class="modal" id="puzzleComments" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="puzzleCommentsName"</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center container-fluid">
        <p id="puzzleCommentsList"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= __('Close') %></button>
      </div>
    </div>
  </div>
</div>
<script>
function showPuzzleComments(puzzleCode, puzzleDesc) {
  $("#puzzleCommentsName").html(puzzleDesc);
  $("#puzzleCommentsList").load("/puzzles/"+puzzleCode+"/comments");
  $("#puzzleComments").modal();
}
</script>
<%- include ('./partials/footer') %>

