<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 m-auto">
      <% if(puzzle){ %> 
        <% prefix = ''; %>
        <div class="card">
          <div class="d-flex flex-row flex-wrap justify-content-between card-header">
            <h1><%= __('Solve replay for') %> <%= logusername %></h1>
            <a class="p-2 align-bottom text-right" style="position: relative;" href="/archive/<%= puzzle.code %>/scores"><%= __('Scores') %></a>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary glyphicon glyphicon-play" id="startReplay"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-pause" id="pauseReplay"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-step-backward" id="stepBackwardReplay"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-step-forward" id="stepForwardReplay"></button>
          </div>
          <%- include ('./partials/puzzle') %>
        </div>
        <script>
          function showPuzzleReplay() {
            var controls = "#Controls";
            var puzzleData = {
              typeCode: "<%= puzzle.type.code %>",
              id: "<%= puzzle.code %>",
              dimension: "<%= puzzle.dimension %>"
            };
            var settings = {};
            settings.theme = "<%= (typeof theme != "undefined")?theme:"" %>";
            var grid = "#Grid"
            requirejs(["<%= puzzle.type.puzzleJs.replace(/\.js$/, '') %>"], function() {
              puzzle = new <%= puzzle.type.puzzleObj %>(puzzleData, controls, settings);
              puzzle.render(Snap(grid));
              $.getJSON("/puzzles/<%= puzzle.code %>/log/<%= loguserid %>")
                .done(data => {
                  puzzle.replay(data)
                  $('#startReplay').prop('disabled', false);
                  $('#stepForwardReplay').prop('disabled', false);
                  $('#startReplay').click(() => {
                    $('#startReplay').prop('disabled', true);
                    $('#pauseReplay').prop('disabled', false);
                    $('#stepBackwardReplay').prop('disabled', true);
                    $('#stepForwardReplay').prop('disabled', true);
                    puzzle.replayContinue();
                  });
                  $('#pauseReplay').click(() => {
                    $('#startReplay').prop('disabled', false);
                    $('#pauseReplay').prop('disabled', true);
                    $('#stepBackwardReplay').prop('disabled', false);
                    $('#stepForwardReplay').prop('disabled', false);
                    puzzle.replayPause();
                  });
                  $('#stepBackwardReplay').click(() => {
                    if (!puzzle.replayStepBackward()) {
                      console.log("!replayStepBackward")
                      $('#stepBackwardReplay').prop('disabled', true);
                    }
                    $('#stepForwardReplay').prop('disabled', false);
                  });
                  $('#stepForwardReplay').click(() => {
                    if (!puzzle.replayStepForward()) {
                      $('#stepForwardReplay').prop('disabled', true);
                    }
                    $('#stepBackwardReplay').prop('disabled', false);
                  });
                })
                .fail((jqxhr, textStatus, error) => {self.showError(jqxhr.responseText);});
            });

          }
          $(document).ready(function () {
            $('#Controls [name=startBtn]').hide();
            $('#Controls [name=checkBtn]').hide();
            $('#startReplay').prop('disabled', true);
            $('#pauseReplay').prop('disabled', true);
            $('#stepBackwardReplay').prop('disabled', true);
            $('#stepForwardReplay').prop('disabled', true);
            showPuzzleReplay();
          });
        </script>
      <% } %>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

