<script>
  requirejs.config({
    paths: {
      "jquery" : "//code.jquery.com/jquery-3.4.1.min",
      "bootstrap-datepicker" : "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min"
    }
  });
</script>
<link
  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"
/>
<style>
  .league-marker {
    border-radius: 50%;
    font-size: 70%;
    padding: 1px;
    margin-right: 5px;
    display: inline-block;
    width: 1.55em;
    height: 1.55em;
    text-align: center;
    color: black;
  }
</style>
<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <% if(puzzle) { %>
      <div class="card">
        <div class="d-flex flex-row flex-wrap justify-content-between card-header">
          <div>
            <h1 class="">
              <a href="/single/<%= puzzle.code %>">
                <%= puzzle.type %>
                <%= puzzle.dimension?" ("+puzzle.dimension.split('-')[0]+")":"" %>
              </a>
            </h1>
            <div>
              <% if (puzzle.difficulty) { %>
              <% var stars=puzzle.difficulty>0?(1+Math.round(10*Math.log(puzzle.difficulty/30000))/10):0; %>
              <%= __('Difficulty:') %>
              <span class="stars mr-5" style="width: calc(15px * <%= stars %>)" data-toggle="tooltip" title="<%= stars %>"></span>
              <% } %>
              <% if (puzzle.rating && puzzle.rating.rating>0) { %>
              <%= __('Rating:') %>
              <%- include ('./partials/rating_span', {rating: puzzle.rating.rating, ratingCount: puzzle.rating.count}) %>
              <% } %>
            </div>
          </div>
          <div class="p-2 align-bottom text-right" style="position: relative;">
            <h2>
              <%= puzzle.daily?puzzle.daily.toISOString().split('T')[0]:"" %>
              <a class="btn" data-toggle="collapse" href="#choosedate" aria-expanded="false" aria-controls="Collapse">
                <span class="glyphicon glyphicon-collapse-down"></span>
              </a>
            </h2>
            <div class="collapse bg-light" style="position: absolute; top: 45px; left: -30px; z-index: 100;" id="choosedate">
              <div class="card card-body">
                <div id="datepicker" data-date="<%= puzzle.daily?puzzle.daily.toISOString().split('T')[0]:"" %>"></div>
                <button type="submit" id="setDate" class="btn btn-primary"><%= __('Set') %></button>
              </div>
            </div>
            <script>
              $(document).ready(function () {
                requirejs(["bootstrap-datepicker"], function(){
                  $('#datepicker').datepicker({
                    format: "yyyy-mm-dd",
                    startDate: "2020-04-01",
                    endDate: "0d",
                    todayHighlight: true,
                    language: '<%= getLocale() %>',
                    maxViewMode: "month"
                  });
                });
              });
              $("#setDate").click(function () {
                var url="/archive/" + $('#datepicker').datepicker('getFormattedDate') + "/scores";
                window.location = url;
              });
            </script>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-condensed">
            <tbody>
              <% times.forEach(function(time) { %>
              <tr>
                <% var league = leagueSettings[time.userLeague] || {markerStyle: "", name: ""} %>
                <td>
                  <a href="/league/<%= time.userLeague %>/<%= new Date().toISOString().substring(0,10) %>" >
                    <span class="league-marker" style="<%= league.markerStyle %>">
                      <%= league.name.charAt(0) %>
                    </span>
                  </a>
                  <%= time.userName %>
                </td>
                <td>
                  <% if (puzzle.canReplay) { %>
                  <a href="/archive/<%= puzzle.code %>/replay/<%= time.userId %>"><%= time.time %></a>
                  <% } else { %>
                  <%= time.time %>
                  <% } %>
                </td>
                <td>
                  <%= time.errors==0 ? "" : (time.errors + " " + __n("error", time.errors)) %>
                </td>
              </tr>
              <% }) %>
              <% notFinished.forEach(function(userName) { %>
              <tr>
                <td><%= userName %></td>
                <td><%= __("didn't finish") %></td>
                <td></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% if (typeof user != 'undefined' && user.isAnalyseAvailable && puzzle.canReplay) { %>
        <div class="row card-body">
          <div class="card card-body" id="newform">
            <div class="form-inline">
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="itp">itp</label>
                <input type="number" min="1" max="100" value="10" class="form-control" style="width:64px" id="itp">
              </div>
              <div class="form-group pr-4 pb-2">
                <label class="col-form-label pr-1" for="pp">pp</label>
                <input type="number" min="1" max="100" value="30" class="form-control" style="width:64px" id="pp">
              </div>
              <div class="form-group pr-4 pb-2">
                <button type="submit" id="analyse" class="btn btn-primary">Analyse</button>
              </div>
            </div>
          </div>
          <script>
            $("#analyse").click(function () {
              var itp = $("#itp").val();
              var pp = $("#pp").val();
              var url = "/puzzles/<%= puzzle.code %>/analyse?itp=" + itp + "&pp=" + pp + "";
              window.open(url);
            })
          </script>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

