<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <% if (new Date() >= new Date('2021-12-30T00:00:00.000+00:00') && new Date() < new Date('2022-01-04T00:00:00.000+00:00')) { %>
      <div class="card card-body bg-info text-white">
        <p>
        Встречайте Новый год, решая головоломки без задаюших чисел.<br><br>
        <a class="text-warning" href="/contest/4064541kwpd0ck0">Конкурс Twentyx 1/2 - No numbers</a>
        подготовлен <a class="text-warning" href="/help/authors#60814d3fe0927c00177f6b36">Анурагом Сахаем </a> чтобы отметить приход нового 2022 года.<br>
        В конкурсе 13 задач, которые доступны для решения в течении пяти дней с 30 декабря по 3 января.<br>
        Во всех задачах 20x (x=1 илли 2) нечисловых задающих - чисел нет нигде (только точки, кружки, области, закрашеные клетки и т.п.).<br>
        Задачи доступны на <a class="text-warning" href="/contest/4064541kwpd0ck0">странице конкурса</a>.
        </p>
      </div>
      <% } %>
      <% if (contestPuzzle){ %>
        <% if (user) { %>
        <div class="card card-body">
          <p>Ниже вы можете увидеть две задачи: <br>
             Одна - это обычная задача дня. Время решения этой задачи указывается в <a href="/archive/scores">списке результатов дня</a>
             и влияет на <a href="/rating">рейтинг</a>. <br>
             Вторая задача - часть <a href="<%= contestPuzzle.contest.link %>">конкурса <%= contestPuzzle.contest.name %></a>.
             Решение этой задачи не влияет на рейтинг, а учитывается в специальном конкурсном зачёте.
             Правила конкурса, результаты и другую информации можно найти на
             <a href="<%= contestPuzzle.contest.link %>">странице конкурса</a>.</p>
        </div>
        <% } else { %>
        <div class="card card-body">
          <p>Ниже приведены текущие задача дня и конкурсная задача.
             Эти задачи - соревновательные, для их решения и участия в соревновании требуется регистрация.
             Для регистрации используйте ссылку <a href="/users/login">Войти</a> в правом верхнем углу.</p>
          <p>На <a href="/archive/scores">странице результатов</a> вы можете найти время, затраченое другими решателями на головоломку дня.</p>
          <p>Все задачи прошлых дней доступны на <a href="/archive">странице архива</a>.
             Задачи старше пяти дней не учитываются в таблице результатов и вы можете попробовать решить их без регистрации.</p>
        </div>
        <% } %>
      <% } else if (!user) { %>
      <div class="card card-body">
        <p>Ниже приведена текущая задача дня.
           Эта задача - соревновательная, для решения этой задачи и участия в соревновании требуется регистрация.
           Для регистрации используйте ссылку <a href="/users/login">Войти</a> в правом верхнем углу.</p>
        <p>На <a href="/archive/scores">странице результатов</a> вы можете найти время, затраченое другими решателями на эту головоломку.</p>
        <p>Все задачи прошлых дней доступны на <a href="/archive">странице архива</a>.
           Задачи старше пяти дней не учитываются в таблице результатов и вы можете попробовать решить их без регистрации.</p>
      </div>
      <% } else if (dailyPuzzle && dailyPuzzle.contest) { %>
      <div class="card card-body">
        <p>Сегодняшняя задача дня является также частью <a href="<%= dailyPuzzle.contest.link %>">конкурса <%= dailyPuzzle.contest.name %></a>.
           То есть решение этой задачи отражается и в
           <a href="/archive/scores">результатах дня</a> и в <a href="/contest/<%= dailyPuzzle.contest.contestId %>/results">конкурсном зачёте</a>.</p>
        <p>Правила конкурса, результаты и другую информации можно найти на <a href="<%= dailyPuzzle.contest.link %>">странице конкурса</a>.</p>
      </div>
      <% } %>
      <%- include ('./partials/messages') %>
      <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
          background-color: rgba(238,232,213,0.125);
          border-bottom: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
      </style>
      <ul class="nav nav-tabs">
        <% if(dailyPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2 active" data-toggle="tab" href="#daily"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Задача дня</h1></a>
        </li>
        <% } %>
        <% if(contestPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2" data-toggle="tab" href="#contest"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Конкурсная задача</h1></a>
        </li>
        <% } %>
      </ul>
      <div id="myTabContent" class="tab-content">
      <% if(dailyPuzzle){ %>
        <div class="tab-pane fade active show" id="daily">
          <div class="card" style="border: 0;">
            <% puzzle = dailyPuzzle; %>
            <% prefix = 'daily'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      <% if(contestPuzzle){ %>
        <div class="tab-pane fade" id="contest">
          <div class="card" style="border: 0;">
            <% puzzle = contestPuzzle; %>
            <% prefix = 'contest'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      </div>
      <script>
        $(document).ready(function () {
          <% if(dailyPuzzle){ %>
          showdailyPuzzle();
          <% } %>
          <% if(contestPuzzle){ %>
          showcontestPuzzle();
          <% } %>
          <% if (new Date() < new Date('2021-12-30T00:00:00.000+00:00')) { %>
          showMessage("Встречайте Новый год, решая головоломки без задаюших чисел.<br><br> " +
                      "Анураг Сахай подготовил конкурс из 13 задач, которые будут доступны для решения " +
                      "в течении пяти дней с 30 декабря по 3 января.<br> " +
                      "Во всех задачах 20x (x=1 илли 2) нечисловых задающих - " +
                      "чисел нет нигде (только точки, кружки, области, закрашеные клетки и т.п.).<br><br>" +
                      "Не пропустите турнир!",
            null,"2021-12-21");
          <% } %>
        });
      </script>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

