<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card card-body">
        <div class="row">
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2 data-toggle="tooltip"
                    title="The list doesn't include recently registered users - the rating for them calculated by a special way.">
                    Top rating improvement of the month
                  </th>
                </tr>
                <% topRatingChange.forEach(function(change){ %>
                <tr>
                  <td class="p-0"><a href="/userstat/<%= change.userId %>"><%= change.userName %></a></td>
                  <td class="p-0 text-center">
                    <%= change.change?Math.round(change.change):"-" %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <% let undefinedLeague = topLeagues.findIndex(league => typeof league.top=='undefined') %>
          <% if(undefinedLeague < 0) { %>
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2>
                    Leagues leaders
                  </th>
                </tr>
                <% topLeagues.forEach(function(league){ %>
                <tr style='<%= leagueSettings[league.code].mainStyle %>' >
                  <td class="p-0">
                    <a style='display: block; <%= leagueSettings[league.code].mainStyle %>' href="/league/<%= league.code %>/<%= league.date %>">
                      <%= league.top.userName %>
                    </a>
                  </td>
                  <td class="p-0 text-center">
                    <a style='display: block; <%= leagueSettings[league.code].mainStyle %>' href="/league/<%= league.code %>/<%= league.date %>">
                      <%= league.top.solvedCount %>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%  } else { %>
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2>
                    Top commenters of the month
                  </th>
                </tr>
                <% topCommenters.forEach(function(commenter){ %>
                <tr>
                  <td class="p-0"><a href="/userstat/<%= commenter.userId %>"><%= commenter.userName %></a></td>
                  <td class="p-0 text-center">
                    <%= commenter.commentCount?Math.round(commenter.commentCount):"-" %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%  } %>
        </div>
      </div>
      <% if (contestPuzzle){ %>
        <% if (user) { %>
        <div class="card card-body">
          <p>Below you can find two puzzles: <br>
             One is a regular daily puzzle. Solving time for the puzzle affects <a href="/archive/scores">daily score list</a>
             and the <a href="/rating">user rating</a>. <br>
             The second puzzle is a part of <a href="<%= contestPuzzle.contest.link %>"><%- contestPuzzle.contest.name %> contest</a>.
             It doesn't affect rating but used for a separate contest scoring.
             The contest rules, results and additional information can
             be found at <a href="<%= contestPuzzle.contest.link %>">the contest page</a>.</p>
        </div>
        <% } else { %>
        <div class="card card-body">
          <p>The puzzles below are current daily and contest puzzles.
             These puzzles are competitive and you have to register to solve them and participate in the competition.
             To register click <a href="/users/login">Login</a> link in the top right corner.</p>
          <p>You can use the <a href="/archive/scores">scores page</a> to see the results of other competitors for the daily puzzle.</p>
          <p>All the puzzles from the previous days are available at our <a href="/archive">archive page</a>.
             Puzzles which are older than 5 days do not affect the score table and can be attempted without registration.</p>
        </div>
        <% } %>
      <% } else if (!user) { %>
      <div class="card card-body">
        <p>The puzzle below is a current daily puzzle.
           This puzzle is competitive - you have to register to solve it and participate in the daily competition.
           To register click <a href="/users/login">Login</a> link in the top right corner.</p>
        <p>You can use the <a href="/archive/scores">scores page</a> to see the results of other competitors for this puzzle.</p>
        <p>All the puzzles from the previous days are available at our <a href="/archive">archive page</a>.
           Puzzles which are older than 5 days do not affect the score table and can be attempted without registration.</p>
      </div>
      <% } else if (dailyPuzzle && dailyPuzzle.contest) { %>
      <div class="card card-body">
        <p>Today's daily puzzle is also a part of <a href="<%= dailyPuzzle.contest.link %>"><%- dailyPuzzle.contest.name %> contest</a>.
           So the solving result for the puzzle affects both
           <a href="/archive/scores">the daily score list</a> and <a href="/contest/<%= dailyPuzzle.contest.contestId %>/results">the contest scores</a>.</p>
        <p>The contest rules, results and additional information can  be found at <a href="<%= dailyPuzzle.contest.link %>">the contest page</a>.</p>
      </div>
      <% } %>
      <%- include ('./partials/messages') %>
      <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
          background-color: rgba(238,232,213,0.125);
          border-bottom: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
      </style>
      <ul class="nav nav-tabs">
        <% if(dailyPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2 active" data-toggle="tab" href="#daily"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Daily puzzle</h1></a>
        </li>
        <% } %>
        <% if(contestPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2" data-toggle="tab" href="#contest"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Contest puzzle</h1></a>
        </li>
        <% } %>
      </ul>
      <div id="myTabContent" class="tab-content">
      <% if(dailyPuzzle){ %>
        <div class="tab-pane fade active show" id="daily">
          <div class="card" style="border: 0;">
            <% puzzle = dailyPuzzle; %>
            <% prefix = 'daily'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      <% if(contestPuzzle){ %>
        <div class="tab-pane fade" id="contest">
          <div class="card" style="border: 0;">
            <% puzzle = contestPuzzle; %>
            <% prefix = 'contest'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      </div>
      <script>
        $(document).ready(function () {
          <% if(dailyPuzzle){ %>
          showdailyPuzzle();
          <% } %>
          <% if(contestPuzzle){ %>
          showcontestPuzzle();
          <% } %>
          <% if (new Date() > new Date('2023-04-28T00:00:00.000+00:00') && new Date() < new Date('2023-05-01T00:00:00.000+00:00')) { %>
          showMessage("<br>First league competition is finishing soon. Don't forget to solve all daily puzzles before the end of the competition.<br>" +
            "At the midnight (GMT) April 30th the league scoring will be finalized and solvers will be distributed for the May's competition. <br>" +
            "<br><br>" +
            "Happy solving!",
            null,"2023-04-25");
          <% } %>
          <% if (new Date() > new Date('2023-05-01T00:00:00.000+00:00')) { %>
          showMessage("<br>April league contest has finished. You can find the final results  <a href='/league/2023-04-01'>here</a>.<br>" +
            "The league winners has been promoted to new leagues where they meet new challenges in May. <br>" +
            "<br><br>" +
            "This was the first try for the new contest format - your feedback and complains are highly appreciated. Please send your comments in  facebook or to email.",
            null,"2023-05-01");
          <% } %>
        });
      </script>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

