<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <% if (contestPuzzle){ %>
        <% if (user) { %>
        <div class="card card-body">
          <p>Below you can find two puzzles: <br>
             One is a regular daily puzzle. Solving time for the puzzle affects daily score list and the user rating. <br>
             The second puzzle is a contest puzzle. The contest rules, results and additional information can
             be found at <a href="<%= contestPuzzle.contest.link %>">contest page</a>.</p>
        </div>
        <% } else { %>
        <div class="card card-body">
          <p>The puzzles below are current daily and contest puzzles.
             These puzzles are competitive and you have to register to solve them and participate in the competition.
             To register click <a href="/users/login">Login</a> link in the top right corner.</p>
          <p>You can use the <a href="/archive/scores">scores page</a> to see the results of other competitors for daily puzzle.</p>
          <p>All the puzzles from the previous days are available at our <a href="/archive">archive page</a>.
             Puzzles which are older than 5 days do not affect score table and can be attempted without registration.</p>
        </div>
        <% } %>
      <% } else if (!user) { %>
      <div class="card card-body">
        <p>The puzzle below is a current daily puzzle.
           This puzzle is competitive and you have to register to solve it and participate in the daily competition.
           To register click <a href="/users/login">Login</a> link in the top right corner.</p>
        <p>You can use the <a href="/archive/scores">scores page</a> to see the results of other competitors for this puzzle.</p>
        <p>All the puzzles from the previous days are available at our <a href="/archive">archive page</a>.
           Puzzles which are older than 5 days do not affect score table and can be attempted without registration.</p>
      </div>
      <% } %>
      <%- include ('./partials/messages') %>
      <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
          background-color: rgba(238,232,213,0.125);
          border-bottom: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
      </style>
      <ul class="nav nav-tabs">
        <% if(dailyPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#daily"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Daily puzzle</h1></a>
        </li>
        <% } %>
        <% if(contestPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contest"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Contest puzzle</h1></a>
        </li>
        <% } %>
      </ul>
      <div id="myTabContent" class="tab-content">
      <% if(dailyPuzzle){ %>
        <div class="tab-pane fade active show" id="daily">
          <div class="card" style="border: 0;">
            <% puzzle = dailyPuzzle; %>
            <% prefix = 'daily'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      <% if(contestPuzzle){ %>
        <div class="tab-pane fade" id="contest">
          <div class="card" style="border: 0;">
            <% puzzle = contestPuzzle; %>
            <% prefix = 'contest'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      </div>
      <script>
        $(document).ready(function () {
          <% if(dailyPuzzle){ %>
          showdailyPuzzle();
          <% } %>
          <% if(contestPuzzle){ %>
          showcontestPuzzle();
          <% } %>
        });
      </script>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

