<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card card-body">
        <% if (announcement.message){ %>
        <div class="row">
          <div class="col-md bg-dark text-white mx-3">
            <p class="text-justify">
              <%- announcement.message %>
            </p>
          </div>
        </div>
        <% } %>
        <div class="row">
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2 data-toggle="tooltip"
                    title="В списке нет недавно зарегистрированных пользвателей - рейтинг таких пользователей не рассчитывается по общим формулам.">
                    Лидеры изменения рейтинга за месяц
                  </th>
                </tr>
                <% topRatingChange.forEach(function(change){ %>
                <tr>
                  <td class="p-0"><a href="/userstat/<%= change.userId %>"><%= change.userName %></a></td>
                  <td class="p-0 text-center">
                    <%= change.change?Math.round(change.change):"-" %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <% let undefinedLeague = topLeagues.findIndex(league => typeof league.top=='undefined') %>
          <% if(undefinedLeague < 0) { %>
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2>
                    Лидеры в зачёте лиг
                  </th>
                </tr>
                <% topLeagues.sort((l1, l2) => leagueSettings[l1.code].index - leagueSettings[l2.code].index).forEach(function(league){ %>
                <tr style='<%= leagueSettings[league.code].mainStyle %>' >
                  <td class="p-0">
                    <a style='display: block; <%= leagueSettings[league.code].mainStyle %>' href="/league/<%= league.code %>/<%= league.date %>">
                      <%= league.top.userName %>
                    </a>
                  </td>
                  <td class="p-0 text-center">
                    <a style='display: block; <%= leagueSettings[league.code].mainStyle %>' href="/league/<%= league.code %>/<%= league.date %>">
                      <%= league.top.solvedCount %>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%  } else { %>
          <div class="col-md">
            <table class="table table-hover table-condensed table-striped">
              <tbody>
                <tr>
                  <th colspan=2>
                    Лучшие комментаторы месяца
                  </th>
                </tr>
                <% topCommenters.forEach(function(commenter){ %>
                <tr>
                  <td class="p-0"><a href="/userstat/<%= commenter.userId %>"><%= commenter.userName %></a></td>
                  <td class="p-0 text-center">
                    <%= commenter.commentCount?Math.round(commenter.commentCount):"-" %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <%  } %>
        </div>
      </div>
      <% if (contestPuzzle){ %>
        <% if (user) { %>
        <div class="card card-body">
          <p>Ниже вы можете увидеть две задачи: <br>
             Одна - это обычная задача дня. Время решения этой задачи указывается в <a href="/archive/scores">списке результатов дня</a>
             и влияет на <a href="/rating">рейтинг</a>. <br>
             Вторая задача - часть <a href="<%= contestPuzzle.contest.link %>">конкурса <%- contestPuzzle.contest.name %></a>.
             Решение этой задачи не влияет на рейтинг, а учитывается в специальном конкурсном зачёте.
             Правила конкурса, результаты и другую информации можно найти на
             <a href="<%= contestPuzzle.contest.link %>">странице конкурса</a>.</p>
        </div>
        <% } else { %>
        <div class="card card-body">
          <p>Ниже приведены текущие задача дня и конкурсная задача.
             Эти задачи - соревновательные, для их решения и участия в соревновании требуется регистрация.
             Для регистрации используйте ссылку <a href="/users/login">Войти</a> в правом верхнем углу.</p>
          <p>На <a href="/archive/scores">странице результатов</a> вы можете найти время, затраченое другими решателями на головоломку дня.</p>
          <p>Все задачи прошлых дней доступны на <a href="/archive">странице архива</a>.
             Задачи старше пяти дней не учитываются в таблице результатов и вы можете попробовать решить их без регистрации.</p>
        </div>
        <% } %>
      <% } else if (!user) { %>
      <div class="card card-body">
        <p>Ниже приведена текущая задача дня.
           Эта задача - соревновательная, для решения этой задачи и участия в соревновании требуется регистрация.
           Для регистрации используйте ссылку <a href="/users/login">Войти</a> в правом верхнем углу.</p>
        <p>На <a href="/archive/scores">странице результатов</a> вы можете найти время, затраченое другими решателями на эту головоломку.</p>
        <p>Все задачи прошлых дней доступны на <a href="/archive">странице архива</a>.
           Задачи старше пяти дней не учитываются в таблице результатов и вы можете попробовать решить их без регистрации.</p>
      </div>
      <% } else if (dailyPuzzle && dailyPuzzle.contest) { %>
      <div class="card card-body">
        <p>Сегодняшняя задача дня является также частью <a href="<%= dailyPuzzle.contest.link %>">конкурса <%- dailyPuzzle.contest.name %></a>.
           То есть решение этой задачи отражается и в
           <a href="/archive/scores">результатах дня</a> и в <a href="/contest/<%= dailyPuzzle.contest.contestId %>/results">конкурсном зачёте</a>.</p>
        <p>Правила конкурса, результаты и другую информации можно найти на <a href="<%= dailyPuzzle.contest.link %>">странице конкурса</a>.</p>
      </div>
      <% } %>
      <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
          background-color: rgba(238,232,213,0.125);
          border-bottom: 0;
        }
        .nav-tabs {
          border-bottom: 0;
        }
      </style>
      <ul class="nav nav-tabs">
        <% if(dailyPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2 active" data-toggle="tab" href="#daily"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Задача дня</h1></a>
        </li>
        <% } %>
        <% if(contestPuzzle){ %>
        <li class="nav-item">
          <a class="nav-link pl-2 pr-2" data-toggle="tab" href="#contest"><h1 class="card-body pb-0 pt-0" style="font-size:4vmin;">Конкурсная задача</h1></a>
        </li>
        <% } %>
      </ul>
      <div id="myTabContent" class="tab-content">
      <% if(dailyPuzzle){ %>
        <div class="tab-pane fade active show" id="daily">
          <div class="card" style="border: 0;">
            <% puzzle = dailyPuzzle; %>
            <% prefix = 'daily'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      <% if(contestPuzzle){ %>
        <div class="tab-pane fade" id="contest">
          <div class="card" style="border: 0;">
            <% puzzle = contestPuzzle; %>
            <% prefix = 'contest'; %>
            <%- include ('./partials/puzzle') %>
          </div>
        </div>
      <% } %>
      </div>
      <script>
        $(document).ready(function () {
          <% if(dailyPuzzle){ %>
          showdailyPuzzle();
          <% } %>
          <% if(contestPuzzle){ %>
          showcontestPuzzle();
          <% } %>
        });
      </script>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

